<div class="row">
  <div class="col-md-12 col-lg-6">
    <!-- Sales and expense card start -->
    <app-card [title]="'Sales and Expenses'" [cardOptionBlock]="true">
      <chart [type]="type1" [data]="data1" [options]="options" style="height:310px;width:100%"></chart>
    </app-card>
    <!-- Sales and expense card end -->
  </div>
  <div class="col-md-12 col-lg-6">
    <!-- Sales, Receipt and Dues card start -->
    <app-card [title]="'Sales, Receipt and Dues'" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
      <div class="table-responsive">
        <table class="table table-lg table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Sales</th>
            <th>Receipt</th>
            <th>Dues</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Today</th>
            <td>$250.00</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">This Week</th>
            <td>$380.00</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">This Month</th>
            <td>$450.00</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">This Year</th>
            <td>$600.00</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">Total</th>
            <td>$600.00</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Sales, Receipt and Dues card end -->
  </div>
  <div class="col-sm-12">
    <!-- Recent Orders card start -->
    <app-card [title]="'Recent Orders'" [blockClass]="'table-border-style'" [cardOptionBlock]="true">
      <div class="table-responsive">
        <table class="table table-lg table-styling">
          <thead>
          <tr class="table-primary">
            <th>#</th>
            <th>Order No.</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>54822</td>
            <td>Product 1</td>
            <td>2</td>
            <td>
              <label class="label label-md label-danger">$99.00</label>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>54823</td>
            <td>Product 2</td>
            <td>1</td>
            <td>
              <label class="label label-md label-success">$29.00</label>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>54824</td>
            <td>Product 3</td>
            <td>3</td>
            <td>
              <label class="label label-md label-warning">$109.00</label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Recent Orders card end -->
  </div>
</div>
