<div class="page-body">
  <div class="row">
    <div class="col-xl-4">
      <!-- Tooltip style 1 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 1</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-1</code> to use this
            <span class="mytooltip tooltip-effect-1">
              <span class="tooltip-item">Show Effect</span>
              <span class="tooltip-content clearfix">
                <img src="assets/images/tooltip/euclid.png" alt="Ecluid.png">
                <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span>
              </span>
            </span>
            current effect.
          </p>
        </div>
      </div>
      <!-- Tooltip style 1 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 2 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 2</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-2</code> to use this
            <span class="mytooltip tooltip-effect-2">
                  <span class="tooltip-item">Show Effect</span>
                  <span class="tooltip-content clearfix">
                  <img src="assets/images/tooltip/euclid.png" alt="Ecluid.png">
                  <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span>
                  </span>
                  </span>
            current effect.
          </p>
        </div>
      </div>
      <!-- Tooltip style 2 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 4 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 4</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-4</code> to use this
            <span class="mytooltip tooltip-effect-4">
                  <span class="tooltip-item">Show Effect</span>
                  <span class="tooltip-content clearfix">
                  <img src="assets/images/tooltip/euclid.png" alt="Ecluid.png">
                  <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span>
                  </span>
                  </span>
            current effect.
          </p>
        </div>
      </div>
      <!-- Tooltip style 4 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 5 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 5</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-5</code> to use this
            <span class="mytooltip tooltip-effect-5">
                  <span class="tooltip-item">Show Effect</span>
                  <span class="tooltip-content clearfix">
                  <span class="tooltip-text">Also known as Euclid of andria, was a Greek mathematician, often referred.</span>
                  </span>
                  </span>
            current effect.
          </p>
        </div>
      </div>
      <!-- Tooltip style 5 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 6 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 6</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-6 tooltip-content-2 </code> to use this <a class="mytooltip tooltip-effect-6" href="javascript:">Home<span class="tooltip-content2"><i class="icofont icofont-home"></i></span></a> current effect. </p>
        </div>
      </div>
      <!-- Tooltip style 6 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 7 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 7</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-7 tooltip-content-2</code> to use this <a class="mytooltip tooltip-effect-7" href="javascript:">About me<span class="tooltip-content2"><i class="icofont icofont-user-alt-3"></i></span></a> current effect. </p>
        </div>
      </div>
      <!-- Tooltip style 7 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 8 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 8</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-8 tooltip-content-2</code> to use this <a class="mytooltip tooltip-effect-8" href="javascript:">Photography<span class="tooltip-content2"><i class="icofont icofont-ui-camera"></i></span></a> current effect. </p>
        </div>
      </div>
      <!-- Tooltip style 8 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 9 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip style 9</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-9 tooltip-content-2</code> to use this <a class="mytooltip tooltip-effect-9" href="javascript:">Work<span class="tooltip-content2"><i class="icofont icofont-bag-alt"></i></span></a> current effect. </p>
        </div>
      </div>
      <!-- Tooltip style 9 card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip style 10 card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Bloated Tooltip</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-9 tooltip-content-3</code> to use this <a class="mytooltip tooltip-effect-9" href="javascript:">Car<span class="tooltip-content3">You can easily navigate the city by car.</span></a> current effect. </p>
        </div>
      </div>
      <!-- Tooltip style 10 card end -->
    </div>
    <div class="col-sm-12">
      <!-- Box tooltip card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Box tooltip</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-effect-1 tooltip-content4</code> to use this
            <span class="mytooltip tooltip-effect-1">
                  <span class="tooltip-item2">Euclid</span>
                  <span class="tooltip-content4 clearfix">
                  <span class="tooltip-text2">
                  <strong>Euclid</strong>, also known as Euclid of Alexandria, was a Greek mathematician, often referred to as the "Father of Geometry". He was active in Alexandria during the reign of Ptolemy I.
                  <a href="javascript:">Wikipedia</a>
                  </span>
                  </span>
                  </span>
            current effect. rogue laws of physics, star stuff harvesting star light, <span class="mytooltip tooltip-effect-2"><span class="tooltip-item2">quasar</span><span class="tooltip-content4 clearfix"><span class="tooltip-text2"><strong>Quasars</strong> are believed to be powered by accretion of material into supermassive black holes in the nuclei of distant galaxies, making these luminous versions of the general... <a href="javascript:">Wikipedia</a></span></span>
                  </span> encyclopaedia galactica are creatures of the cosmos the only home we've ever known ship of the imagination prime number courage of our questions.
          </p>
          <p>Colonies. Jean-François Champollion, billions upon billions descended from astronomers the sky calls to us! Made in the interiors of collapsing stars, billions upon billions radio telescope paroxysm of global death not a sunrise but a galaxyrise, gathered by gravity permanence of the stars?</p>
        </div>
      </div>
      <!-- Box tooltip card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip on button card start -->
      <div class="card button-page o-visible">
        <div class="card-header">
          <h5>Tooltip on button</h5>
        </div>
        <div class="card-block">
          <ul>
            <li>
              <button type="button" class="btn btn-default" mdbRippleRadius placement="top" ngbTooltip="tooltip on top">Top
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-primary waves-light" mdbRippleRadius placement="left" ngbTooltip="tooltip on left">Left
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-success waves-light" mdbRippleRadius placement="right" ngbTooltip="tooltip on right">right
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-warning" mdbRippleRadius placement="bottom" ngbTooltip="tooltip on bottom">bottom
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-info waves-light" mdbRippleRadius html="true" [ngbTooltip]="tipContent">Html Tooltip</button>
              <ng-template #tipContent><em>tooltip</em> <u>with</u> <b>HTML</b></ng-template>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tooltip on button card end -->
    </div>
    <div class="col-xl-4">
      <!-- Line Tooltip card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Line Tooltip</h5>
        </div>
        <div class="card-block">
          <p>Use class <code>tooltip-content4</code> to use this <a class="mytooltip" href="javascript:void(0)"> Line tooltip<span class="tooltip-content5"><span class="tooltip-text3"><span class="tooltip-inner2">Howdy, Ben!<br> There are 13 unread messages in your inbox.</span></span></span></a> current effect. harvesting star light.Colonies. Jean-François Champollion.</p>
        </div>
      </div>
      <!-- Line Tooltip card end -->
    </div>
    <div class="col-xl-4">
      <!-- Tooltip with link card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip with link</h5>
        </div>
        <div class="card-block tooltip-link">
          <a href="javascript:" placement="top" ngbTooltip="top!">Top</a>
          <a href="javascript:" placement="bottom" ngbTooltip="bottom!">Bottom</a>
          <a href="javascript:" placement="left" ngbTooltip="left!">Left</a>
          <a href="javascript:" placement="right" ngbTooltip="right!">Right</a>
        </div>
      </div>
      <!-- Tooltip with link card end -->
    </div>
    <div class="col-sm-6">
      <!-- Tooltip on icon card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip on icon</h5>
        </div>
        <div class="card-block tooltip-icon button-list">
          <p>use code in button for tooltip <code>placement="left" ngbTooltip=".icofont-home"</code></p>
          <button type="button" class="btn btn-primary btn-icon waves-light" mdbRippleRadius placement="left" ngbTooltip=".icofont-home">
            <i class="icofont icofont-home"></i>
          </button>
          <button type="button" class="btn btn-danger btn-icon waves-light" mdbRippleRadius placement="top" ngbTooltip=".icofont icofont-search-alt-2">
            <i class="icofont icofont-search-alt-2"></i>
          </button>
          <button type="button" class="btn btn-warning btn-icon" mdbRippleRadius placement="right" ngbTooltip=".icofont-refresh">
            <i class="icofont icofont-refresh"></i>
          </button>
          <button type="button" class="btn btn-info btn-icon waves-light" mdbRippleRadius placement="top" ngbTooltip=".icofont-print">
            <i class="icofont icofont-print"></i>
          </button>
          <button type="button" class="btn btn-success btn-icon waves-light" mdbRippleRadius placement="bottom" ngbTooltip=".icofont-paper-plane">
            <i class="icofont icofont-paper-plane"></i>
          </button>
        </div>
      </div>
      <!-- Tooltip on icon card end -->
    </div>
    <div class="col-sm-6">
      <!-- Tooltip on popover card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltip on popover</h5>
        </div>
        <div class="card-block tooltip-pop button-list">
          <p>use code in button for tooltip <code> placement="left" ngbPopover=".icofont-home"</code></p>
          <button type="button" class="btn btn-default" mdbRippleRadius placement="top" ngbPopover="top by popover">Top
          </button>
          <button type="button" class="btn btn-primary waves-light" mdbRippleRadius placement="left" ngbPopover="tooltip on left">Left
          </button>
          <button type="button" class="btn btn-success waves-light" mdbRippleRadius placement="right" ngbPopover="tooltip on right">right
          </button>
          <button type="button" class="btn btn-warning" mdbRippleRadius placement="bottom" ngbPopover="tooltip on bottom">bottom
          </button>
          <button type="button" class="btn btn-info waves-light" mdbRippleRadius placement="top" [ngbPopover]="popContent">Html Popover</button>
          <ng-template #popContent><em>tooltip</em> <u>with</u> <b>HTML</b></ng-template>
        </div>
      </div>
      <!-- Tooltip on popover card end -->
    </div>
    <div class="col-sm-12">
      <!-- Tooltips on textbox card start -->
      <div class="card o-visible">
        <div class="card-header">
          <h5>Tooltips on textbox</h5>
        </div>
        <div class="card-block tooltip-icon button-list">
          <div class="input-group">
            <span class="input-group-append" id="name"><i class="icofont icofont-user-alt-3 input-group-text"></i></span>
            <input type="text" class="form-control" placeholder="Enter your name" ngbTooltip="Enter your name">
          </div>
          <div class="input-group">
            <span class="input-group-append" id="email"><i class="icofont icofont-ui-email input-group-text"></i></span>
            <input type="text" class="form-control" placeholder="Enter email" ngbTooltip="Enter email">
          </div>
          <button type="button" class="btn btn-primary waves-light m-r-20" mdbRippleRadius placement="right" ngbTooltip="submit">Submit
          </button>
        </div>
      </div>
      <!-- Tooltips on textbox card end -->
    </div>
  </div>
</div>
