<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- List view card start -->
      <div class="card">
        <div class="card-header">
          <h5>List view</h5>

        </div>
        <div class="row card-block">
          <div class="col-md-12">
            <ul class="list-view">
              <li>
                <div class="card list-view-media">
                  <div class="card-block">
                    <div class="media">
                      <a class="media-left waves-light" mdbRippleRadius href="javascript:">
                        <img class="media-object card-list-img" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
                      </a>
                      <div class="media-body">
                        <div class="col-xs-12">
                          <h6 class="d-inline-block">
                            Heading</h6>
                          <label class="label label-info">Agent</label>
                        </div>
                        <div class="f-13 text-muted m-b-15">
                          Software Engineer
                        </div>
                        <p>Hi, This is my short intro text.
                          Lorem ipsum is a dummy content sit
                          dollar. You can copy and paste this
                          dummy content from anywhere and to
                          anywhere. Its all free and must be a
                          good to folllow in prectice</p>
                        <div class="m-t-15">
                          <button type="button" data-toggle="tooltip" title="Facebook" class="btn btn-facebook btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-facebook"></span>
                          </button>
                          <button type="button" data-toggle="tooltip" title="Twitter" class="btn btn-twitter btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-twitter"></span>
                          </button>
                          <button type="button" data-toggle="tooltip" title="Linkedin" class="btn btn-linkedin btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-brand-linkedin"></span>
                          </button>
                          <button type="button"  data-toggle="tooltip" title="Drible" class="btn btn-dribbble btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-dribble"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="">
                <div class="card list-view-media">
                  <div class="card-block">
                    <div class="media">
                      <a class="media-left waves-light" mdbRippleRadius href="javascript:">
                        <img class="media-object card-list-img" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                      </a>
                      <div class="media-body">
                        <div>
                          <h6 class="d-inline-block">
                            Heading</h6>
                          <label class="label  label-info">Accountant</label>
                        </div>
                        <div class="f-13 text-muted m-b-15">
                          Softwear Engineer
                        </div>
                        <p>Hi, This is my short intro text.
                          Lorem ipsum is a dummy content sit
                          dollar. You can copy and paste this
                          dummy content from anywhere and to
                          anywhere. Its all free and must be a
                          good to folllow in prectice</p>
                        <div class="m-t-15">
                          <button type="button" data-toggle="tooltip" title="Facebook" class="btn btn-facebook btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-facebook"></span>
                          </button>
                          <button type="button" data-toggle="tooltip" title="Twitter" class="btn btn-twitter btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-twitter"></span>
                          </button>
                          <button type="button" data-toggle="tooltip" title="Linkedin" class="btn btn-linkedin btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-brand-linkedin"></span>
                          </button>
                          <button type="button"  data-toggle="tooltip" title="Drible" class="btn btn-dribbble btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-dribble"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="">
                <div class="card list-view-media">
                  <div class="card-block">
                    <div class="media">
                      <a class="media-left waves-light" mdbRippleRadius href="javascript:">
                        <img class="media-object card-list-img" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                      </a>
                      <div class="media-body">
                        <div>
                          <h6 class="d-inline-block">
                            Heading</h6>
                          <label class="label  label-info">Accountant</label>
                        </div>
                        <div class="f-13 text-muted m-b-15">
                          Softwear Engineer
                        </div>
                        <p>Hi, This is my short intro text.
                          Lorem ipsum is a dummy content sit
                          dollar. You can copy and paste this
                          dummy content from anywhere and to
                          anywhere. Its all free and must be a
                          good to folllow in prectice</p>
                        <div class="m-t-15">
                          <button type="button" data-toggle="tooltip" title="Facebook" class="btn btn-facebook btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-facebook"></span>
                          </button>
                          <button type="button" data-toggle="tooltip" title="Twitter" class="btn btn-twitter btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-twitter"></span>
                          </button>
                          <button type="button" data-toggle="tooltip" title="Linkedin" class="btn btn-linkedin btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-brand-linkedin"></span>
                          </button>
                          <button type="button"  data-toggle="tooltip" title="Drible" class="btn btn-dribbble btn-mini waves-light" mdbRippleRadius>
                            <span class="icofont icofont-social-dribble"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- List view card end -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- List type card start -->
      <div class="card">
        <div class="card-header">
          <h5>List type</h5>
        </div>
        <div class="row card-block">
          <div class="col-md-12 col-lg-4">
            <h6 class="sub-title">Text list</h6>
            <ul class="basic-list">
              <li class="">
                <h6>Heading</h6>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
              <li class="">
                <h6>Heading</h6>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
              <li class="">
                <h6>Heading</h6>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
            </ul>
          </div>
          <div class="col-md-12 col-lg-4">
            <h6 class="sub-title">Text with Icon Lists</h6>
            <ul class="basic-list list-icons">
              <li>
                <i class="icofont icofont-speech-comments text-primary p-absolute text-center d-block f-30"></i>
                <h6>Heading</h6>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
              <li>
                <h6>Heading</h6>
                <i class="icofont icofont-warning  text-primary p-absolute text-center d-block f-30"></i>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
              <li>
                <h6>Heading</h6>
                <i class="icofont icofont-bell-alt text-primary p-absolute text-center d-block f-30"></i>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
            </ul>
          </div>
          <div class="col-md-12 col-lg-4">
            <h6 class="sub-title">Text with images Lists</h6>
            <ul class="basic-list list-icons-img">
              <li>
                <img src="assets/images/avatar-1.jpg"
                     class="img-fluid p-absolute d-block text-center"
                     alt="">
                <h6>Heading</h6>
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
              <li>
                <h6>Heading</h6>
                <img src="assets/images/avatar-2.jpg"
                     class="img-fluid p-absolute d-block text-center"
                     alt="">
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
              <li>
                <h6>Heading</h6>
                <img src="assets/images/avatar-3.jpg"
                     class="img-fluid p-absolute d-block text-center"
                     alt="">
                <p>Laborum nihil aliquam nulla praesentium illo libero
                  nihil at odio maxime.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- List type card end -->
    </div>
  </div>
</div>
