<app-card [title]="'Select Your Layout'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
  <div class="row">
    <div class="col-sm-3 m-b-30">
      <a href="http://html.phoenixcoded.net/able-pro/default/comming-soon/index1.html" target="_blank"><img src="assets/images/coming-soon/cs-1.jpg" alt="Layout-1" class="img-fluid img-thumbnail"></a>
    </div>
    <div class="col-sm-3 m-b-30">
      <a href="http://html.phoenixcoded.net/able-pro/default/comming-soon/index2.html" target="_blank"><img src="assets/images/coming-soon/cs-2.jpg" alt="Layout-1" class="img-fluid img-thumbnail"></a>
    </div>
  </div>
</app-card>
