<ngx-datatable
  *ngIf="columns.length>0"
  class="material"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [rows]="rows"
  [scrollbarH]="true"
  [scrollbarV]="true"
  [selectAllRowsOnPage]="true"
  [selectCheck]="true"
  [selectionType]="'multi'"
  [style.height]="height"
  [externalPaging]="true"
  [count]="page.total"
  [offset]="page.pageNumber"
  [limit]="page.pageSize"
  [loadingIndicator]="loadingIndicator"
  [messages]="{
    emptyMessage: '无数据',
    totalMessage: 'total',
    selectedMessage: 'selected'
  }"
>
  <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                        [resizeable]="false" [checkboxable]="true" [headerCheckboxable]="true">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
      <section class="example-section">
        <mat-checkbox
          class="example-margin"
          [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)">
        </mat-checkbox>
      </section>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [name]="'操作'">
    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
      123456
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [resizeable]="true">
  </ngx-datatable-column>
</ngx-datatable>
