<div class="page-body">
  <div class="row">
    <div class="col-sm-6">
      <app-card [title]="'Area Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="areaChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'STACKING AREA CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="stackingAreaChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'BAR CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="barChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'BUBBLE CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="bubbleChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'COMBO CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="comboChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'DONUT CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="donutChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'EXPLOADING A SLICE CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <google-chart [data]="exploadingChartData"></google-chart>
      </app-card>
    </div>

    <div class="col-sm-6">
      <app-card [title]="'Table Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'text-center'">
        <google-chart [data]="tableChartData"></google-chart>
      </app-card>
    </div>
  </div>
</div>
