<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- Rating card start -->
      <div class="card">
        <div class="card-header">
          <div class="card-header-left">
            <h5>Rating</h5>
            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">1/10 Rating</h6>
              <p>Use attribute<code>theme</code> as value <code>horizontal</code> to see default rating</p>
              <div class="box-body f-left">
                <bar-rating [(rate)]="rateHorizontal" [max]="10" [theme]="'horizontal'"></bar-rating>
                <span class="current-rating"></span>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">Movie Rating</h6>
              <p>Use attribute<code>theme</code> as value <code>movie</code> to see movie rating</p>
              <div class="box-body">
                <bar-rating [(rate)]="rateMovie" [max]="4" [theme]="'movie'" [showText]="true" [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">square rating</h6>
              <p>Use attribute<code>theme</code> as value <code>square</code> to see square rating</p>
              <div class="box-body">
                <bar-rating [(rate)]="rateSquare" [max]="5" [theme]="'square'"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">Read Only rating</h6>
              <p>Use attribute<code>readOnly</code> as value <code>true</code> to see read only rating</p>
              <div class="box-body">
                <bar-rating [(rate)]="rateMovie" [max]="5" [readOnly]="true" [theme]="'movie'" [showText]="true" [titles]="['Strongly Agree', 'Agree' , 'Neither Agree or Disagree', 'Disagree', 'Strongly Disagree']"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">Star rating</h6>
              <p>Use attribute<code>theme</code> as value <code>stars</code> to see star rating</p>
              <div class="box-body">
                <bar-rating [(rate)]="rateStar" [max]="8" [theme]="'stars'"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">Vertical Rating</h6>
              <p>Use attribute<code>theme</code> as value <code>vertical</code> to see vertical rating</p>
              <div class="box-body f-left">
                <bar-rating [(rate)]="rateVertical" [max]="10" [theme]="'vertical'"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">Font awesome Rating</h6>
              <p>Use attribute<code>theme</code> as value <code>fontawesome</code> to see font awesome rating</p>
              <div class="stars stars-example-fontawesome">
                <bar-rating [(rate)]="rateFa" [max]="5" [theme]="'fontawesome'"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">CSS Default Rating</h6>
              <p>Use tag<code>bar-rating</code> to see css default stars rating</p>
              <div class="stars stars-example-css">
                <bar-rating [(rate)]="rateDefault" [max]="5"></bar-rating>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
              <h6 class="sub-title">fractional star Rating</h6>
              <p>Use attribute<code>theme</code> as value <code>fontawesome-o</code> to see fractional star rating</p>
              <div class="stars">
                <bar-rating [(rate)]="rateFao" [max]="10" [theme]="'fontawesome-o'"></bar-rating>
                <span class="title current-rating">
                  Current rating: <span class="value">{{ rateFao }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Rating card end -->
    </div>
  </div>
</div>
