<div class="page-body">
  <div class="row">

    <!-- customar project  start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-book f-30 text-c-purple"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Tickets Answered</h6>
              <h2 class="m-b-0">379</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-navigation-2 f-30 text-c-green"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Projects Launched</h6>
              <h2 class="m-b-0">205</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-users f-30 text-c-red"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Happy Customers</h6>
              <h2 class="m-b-0">5984</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-award f-30 text-c-blue"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Unique Innovation</h6>
              <h2 class="m-b-0">325</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- customar project  end -->

    <div class="col-md-12 col-lg-8">
      <app-card [title]="'Products Sales'">
        <div id="product-sales-chart" style="height: 225px"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="card app-design">
        <div class="card-block">
          <button class="btn btn-primary float-right">Completed</button>
          <h6 class="f-w-400 text-muted">App Design And Development</h6>
          <p class="text-c-blue f-w-400">Android</p>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
          <div class="design-description d-inline-block m-r-40">
            <h3 class="f-w-400">678</h3>
            <p class="text-muted">Question</p>
          </div>
          <div class="design-description d-inline-block">
            <h3 class="f-w-400">1,452</h3>
            <p class="text-muted">Comments</p>
          </div>
          <div class="team-box p-b-20">
            <p class="d-inline-block m-r-20 f-w-400">Team</p>
            <div class="team-section d-inline-block">
              <a href="javascript: "><img src="assets/images/avatar-2.jpg " data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
              <a href="javascript: "><img src="assets/images/avatar-3.jpg " data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
              <a href="javascript: "><img src="assets/images/avatar-4.jpg " data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
              <a href="javascript: "><img src="assets/images/avatar-2.jpg " data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
            </div>
          </div>
          <div class="progress-box">
            <p class="d-inline-block m-r-20 f-w-400">Progress</p>
            <div class="progress d-inline-block">
              <div class="progress-bar bg-c-blue" style="width:78% "><label>78%</label></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5 col-md-12">
      <app-card [title]="'Latest Updates'" [cardClass]="'latest-update-card'">
        <div class="latest-update-box">
          <div class="row p-t-20 p-b-30">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">4 hrs ago</p>
              <i class="feather icon-briefcase bg-c-red update-icon"></i>
            </div>
            <div class="col">
              <h6>+ 5 New Products were added!</h6>
              <p class="text-muted m-b-0">Congratulations!</p>
            </div>
          </div>
          <div class="row p-b-30">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">1 day ago</p>
              <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
            </div>
            <div class="col">
              <h6>Database backup completed!</h6>
              <p class="text-muted m-b-0">Download the <span class="text-c-blue"> <a href="javascript:" class="text-c-blue">latest backup</a> </span>.</p>
            </div>
          </div>
          <div class="row p-b-0">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">2 day ago</p>
              <i class="feather icon-facebook bg-facebook update-icon"></i>
            </div>
            <div class="col">
              <h6>+2 Friend Requests</h6>
              <p class="text-muted m-b-10">This is great, keep it up!</p>
              <div class="table-responsive">
                <table class="table table-hover">
                  <tbody>
                  <tr>
                    <td class="b-none">
                      <a href="javascript:" class="align-middle">
                        <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                          <h6>Jeny William</h6>
                          <p class="text-muted m-b-0">Graphic Designer</p>
                        </div>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-xl-3 col-md-12">
      <div class="card user-card2">
        <div class="card-block text-center">
          <h6 class="m-b-15">Project Risk</h6>
          <div class="risk-rate">
            <span><b>5</b></span>
          </div>
          <h6 class="m-b-15 m-t-15">Balanced</h6>
          <a href="javascript:" class="text-c-green b-b-success">Change Your Risk</a>
          <div class="row justify-content-center m-t-15 b-t-default m-l-0 m-r-0">
            <div class="col m-t-20 b-r-default">
              <h6 class="text-muted m-t-5">Nr</h6>
              <h6>AWS 2455</h6>
            </div>
            <div class="col m-t-20">
              <h6 class="text-muted m-t-5">Created</h6>
              <h6>30th Sep</h6>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">Download Overall Report</button>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <app-card [title]="'Tasks'" [cardClass]="'task-card'">
        <ul class="list-unstyled task-list">
          <li>
            <i class="feather icon-check f-w-600 task-icon bg-c-green"></i>
            <p class="m-b-5">8:50</p>
            <h6 class="text-muted">Call to customer <span class="text-c-blue"> <a href="javascript:" class="text-c-blue">Jacob</a> </span> and discuss the</h6>
          </li>
          <li>
            <i class="task-icon bg-c-blue"></i>
            <p class="m-b-5">Sat, 5 Mar</p>
            <h6 class="text-muted">Design mobile Application</h6>
          </li>
          <li>
            <i class="task-icon bg-c-red"></i>
            <p class="m-b-5">Sun, 17 Feb</p>
            <h6 class="text-muted"><span class="text-c-blue"><a href="javascript:" class="text-c-blue">Jeny</a></span> assign you a task <span class="text-c-blue"><a href="javascript:" class="text-c-blue">Mockup Design.</a></span></h6>
          </li>
          <li class="p-b-10">
            <i class="task-icon bg-c-yellow"></i>
            <p class="m-b-5">Sat, 18 Mar</p>
            <h6 class="text-muted">Design logo</h6>
          </li>
        </ul>
      </app-card>
    </div>

    <!-- project ,team member start -->
    <div class="col-xl-6 col-md-12">
      <app-card [title]="'Projects'" [cardClass]="'table-card'">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" id="selectall"/>
                      <span class="cr">
                                                                                            <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                        </span>
                    </label>
                  </div>
                </div>
                Assigned</th>
              <th>Name</th>
              <th>Due Date</th>
              <th class="text-right">Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="1"/>
                      <span class="cr">
                                                                                                <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                            </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>John Deo</h6>
                    <p class="text-muted m-b-0">Graphics Designer</p>
                  </div>
                </div>
              </td>
              <td>Able Pro</td>
              <td>Jun, 26</td>
              <td class="text-right"><label class="label label-danger">Low</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="2"/>
                      <span class="cr">
                                                                                                <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                            </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>Jenifer Vintage</h6>
                    <p class="text-muted m-b-0">Web Designer</p>
                  </div>
                </div>
              </td>
              <td>Mashable</td>
              <td>March, 31</td>
              <td class="text-right"><label class="label label-primary">high</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="3"/>
                      <span class="cr">
                                                                                                <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                            </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>William Jem</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </td>
              <td>Flatable</td>
              <td>Aug, 02</td>
              <td class="text-right"><label class="label label-success">medium</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="4"/>
                      <span class="cr">
                                                                                                <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                            </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </td>
              <td>Guruable</td>
              <td>Sep, 22</td>
              <td class="text-right"><label class="label label-primary">high</label></td>
            </tr>
            </tbody>
          </table>
          <div class="text-right m-r-20">
            <a href="javascript:" class=" b-b-primary text-primary">View all Projects</a>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-xl-6 col-md-12">
      <app-card [title]="'Active Tickets'" [cardClass]="'table-card'">
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
            <tr>
              <th>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" value="">
                      <span class="cr">
                                                                                                                                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                                                                    </span>
                    </label>
                  </div>
                </div>
                Due</th>
              <th>User</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" value="">
                      <span class="cr">
                                                                                                                                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                                                                    </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle text-center">
                  <h6>12</h6>
                  <p class="text-muted m-b-0">hours</p>
                </div>
              </td>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6 class="text-muted m-b-0 m-t-15">John Deo</h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-inline-block align-middle">
                  <h6>[#1183] Workaround for OS X selects printing bug</h6>
                  <p class="text-muted m-b-0">Chrome fixed the bug several versions ago, thus rendering this...</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" value="">
                      <span class="cr">
                                                                                                                                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                                                                    </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle text-center">
                  <h6>16</h6>
                  <p class="text-muted m-b-0">hours</p>
                </div>
              </td>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6 class="text-muted m-b-0 m-t-15">Jems Win</h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-inline-block align-middle">
                  <h6>[#1249] Vertically center carousel controls</h6>
                  <p class="text-muted m-b-0">Try any carousel control and reduce the screen width below...</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" value="">
                      <span class="cr">
                                                                                                                                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                                                                                                                                    </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle text-center">
                  <h6>40</h6>
                  <p class="text-muted m-b-0">hours</p>
                </div>
              </td>
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6 class="text-muted m-b-0 m-t-15">Jeny Wiliiam</h6>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-inline-block align-middle">
                  <h6>[#1254] Inaccurate small pagination height</h6>
                  <p class="text-muted m-b-0">The height of pagination elements is not consistent with...</p>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-right m-r-20">
            <a href="javascript:" class=" b-b-primary text-primary">View all Projects</a>
          </div>
        </div>
      </app-card>
    </div>
    <!-- Active Tickets, Latest Posts end -->

  </div>
</div>
