:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    scrollbar-width: thin;
}


html, body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100%;
}