<div class="page-body navbar-page">
  <div class="row">
    <div class="col-sm-12">
      <!-- Custom Dark Colors card start -->
      <div class="card">
        <div class="card-header">
          <h5>Custom Colors ( Dark )</h5>
        </div>
        <div class="card-block">
          <h4 class="sub-title">
            header-theme="theme1"
          </h4>
          <p class="m-b-10">Add <code>header-theme="theme1"</code> attribute in <code>.pcoded-header</code> class</p>
          <img src="assets/images/nav-bar/nav1.jpg" class="img-fluid nav-img" alt="">
          <h4 class="sub-title m-t-30">
            header-theme="theme2"
          </h4>
          <p class="m-b-10">Add <code>header-theme="theme2"</code> attribute in <code>.pcoded-header</code> class</p>
          <img src="assets/images/nav-bar/nav2.jpg" class="img-fluid nav-img" alt="">
          <h4 class="sub-title m-t-30">
            header-theme="theme3"
          </h4>
          <p class="m-b-10">Add <code>header-theme="theme3"</code> attribute in <code>.pcoded-header</code> class</p>
          <img src="assets/images/nav-bar/nav3.jpg" class="img-fluid nav-img" alt="">
          <h4 class="sub-title m-t-30">
            header-theme="theme4"
          </h4>
          <p class="m-b-10">Add <code>header-theme="theme4"</code> attribute in <code>.pcoded-header</code> class</p>
          <img src="assets/images/nav-bar/nav4.jpg" class="img-fluid nav-img" alt="">
          <h4 class="sub-title m-t-30">
            header-theme="theme5"
          </h4>
          <p class="m-b-10">Add <code>header-theme="theme5"</code> attribute in <code>.pcoded-header</code> class</p>
          <img src="assets/images/nav-bar/nav5.jpg" class="img-fluid nav-img" alt="">
          <h4 class="sub-title m-t-30">
            header-theme="theme6"
          </h4>
          <p class="m-b-10">Add <code>header-theme="theme6"</code> attribute in <code>.pcoded-header</code> class</p>
          <img src="assets/images/nav-bar/nav6.jpg" class="img-fluid nav-img" alt="">
        </div>
      </div>
      <!-- Custom Dark Colors card end -->
    </div>
  </div>
</div>
