@import "ngx-scss/waves";
@import "ngx-scss/tab";
@import "ngx-scss/list";
@import "ngx-scss/pnotify";
@import "ngx-scss/rating";
@import "ngx-scss/carousel";
@import "ngx-scss/tag-input";
@import "ngx-scss/table";
@import "ngx-scss/accordion";

.header-navbar{
  .navbar-wrapper{
    .navbar-container{
      .nav-right li {
        padding: 0 5px;
        .badge{
          right: 0;
        }
      }
      .header-notification{
        .show-notification,.profile-notification {
          display: block;
          padding: 0;
          right: 0;
          >li{
            &:first-child{
              padding-top: 15px;
            }
            &:last-child{
              padding-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li,
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li {
  border-top: none;
}

.header-notification.waves-effect,
.show-notification.show {
  overflow: visible;
}

.showChat, .showChat_inner {
  display: block;
  height: 100vh;
  overflow: hidden;
  &.out{
    .back_chatBox i, .back_friendlist i {
      display: none;
    }
    .users-main{
      width: 0;
      overflow: hidden;
    }
  }
  &.ng-animating {
    .users-main{
      width: 0;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 576px) {
  .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification {
    .profile-notification:before {
      left: calc(100% - 60px);
    }
    .show-notification:before {
      right: calc(100% - 60px);
    }
  }
}

@media only screen and (max-width: 992px) {
  .header-navbar .navbar-wrapper .navbar-container .nav-right {
    display: block;
    overflow: hidden;
    &.nav-on{
      overflow: visible;
    } &.nav-on.nav-off{
        overflow: hidden;
      }
  }
}

.main-menu .main-menu-content .more-details {
  display: block;
}

.pcoded .pcoded-navbar .pcoded-item {
  padding: 0;
}

perfect-scrollbar.disabled .ps__rail-y {
  display: none;
}

perfect-scrollbar.disabled .ps--scrolling-y .ps_rail-x {
  bottom: 0 !important;
}

perfect-scrollbar.disabled .ps--scrolling-y .ps_rail-y {
  top: 0 !important;
}

#styleSelector {
  z-index: 101;
  .ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y, .ps__thumb-y {
    width: 6px;
  }
  .theme-color a {
    margin: 5px 4px 5px 0;
  }
}

//====== menu open css ===========
body .pcoded[theme-layout="vertical"]{
  &[vertical-nav-type="collapsed"]{
    perfect-scrollbar.disabled{
      overflow: visible;
      .ps{
        overflow: visible !important;
      }
    }
  }
  .pcoded-item .pcoded-hasmenu {
    .pcoded-submenu {
      width: 80%;
      list-style: outside none none;
      margin: 15px auto;
       opacity: 0;
       visibility: hidden;
       position: absolute;
    }

     &.pcoded-trigger .pcoded-submenu {
         -webkit-transform-origin: 0 0;
         transform-origin: 10% 10%;
         transition: transform 0.5s, opacity 0.5s;
     }

    .pcoded-submenu {
       transform-style: preserve-3d;
       transform: rotateX(-90deg);
      //display: none;
    }
    &.pcoded-trigger.active > .pcoded-submenu {
      display: block;
    }
     &.pcoded-trigger > .pcoded-submenu{
         position: relative;
          display: block;
         opacity: 1;
         visibility: visible;
         transform: rotateX(0deg);
     }

  }
}

$icon-color-ang: #448aff,#b71c1c,#4CAF50,#d84315,#4527a0,#37474f,#7C4DFF,#FF5370;
.pcoded {
  &[nav-type="st1"] {
    .d-color {
      $i: 1;
      @for $k from 1 through 3 {
        @each $value in $icon-color-ang {
          > .pcoded-item {
            &:nth-child(#{$i + 1}) {
              > li > a > .pcoded-micon {
                color: $value;
              }
            }
          }
          $i: $i+1;
        }
      }
    }

  }
  .d-color {
    &:after {
      content: "";
      background-color: #e4e9eb;
      width: 80%;
      height: 1px;
      position: absolute;
      left: 10%;
      bottom: 10px;
    }
    padding-bottom: 20px;
    position: relative;
  }
  .pcoded-navbar .pcoded-item {
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
  &[nav-type="st1"],
  &[nav-type="st2"] {
    .pcoded-item.pcoded-left-item {
      > li {
        > a > .pcoded-micon {
          b {
            display: none;
          }
        }
      }
    }
  }
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.custom-file-control:lang(en)::before {
  content: "Browse";
}
.custom-file-control::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 6;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
}
.custom-file-control:lang(en):empty::after {
  content: "Choose file...";
}

.pcoded-inner-content {
  margin-top: 0;
}

#ngb-open-p3 .btn-outline-success:hover {
  color: #fff;
  background-color: #28a745 !important;
  border-color: #28a745;
}

#ngb-open-p3 .btn-outline-warning:hover {
  color: #fff;
  background-color: #ffa11a !important;
  border-color: #ffa11a;
}

#ngb-open-p3 .btn-outline-danger:hover {
  color: #fff;
  background-color: #ff1515 !important;
  border-color: #ff1515;
}

#ngb-open-p3 .btn-outline-primary:hover {
  color: #fff;
  background-color: #0764ff !important;
  border-color: #0764ff;
}

.filter-bar .navbar-nav .dropdown-menu {
  position: absolute;
}


//===========   bradcumb  =================
app-breadcrumbs + .pcoded-inner-content {
  padding: 10px;
  margin-top: -50px;
}

.tooltip-error {
  position: absolute;
  right: 30px;
  top: 7px;
}

.custom-range {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  &.focused {
    background-color: #e6e6e6;
  }
  &.range, &:hover {
    background-color: $color-blue;
    color: white;
  }
}

.faded {
  opacity: 0.5;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
  &:hover, &.focused {
    background-color: #e6e6e6;
  }
}

.weekend {
  background-color: #999;
  border-radius: 1rem;
  color: white;
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .form-inline .form-group {
    display: block;
    flex: 240px;
  }
}

.table-styling .table-info, .table-styling.table-info {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-top: 3px solid #00bcd4;
  border-bottom: 3px solid #00bcd4;
}

.login-block .auth-box {
  margin: 65px auto 0 auto !important;
}

.pcoded[layout-type="dark"], body.dark {
  .page-item.active a {
    background-color: $primary-color;
  }

  google-chart rect {
    fill: transparent;
  }
  .google-visualization-table-table {
    color: $dark-layout-color;
  }
}
