<div class="page-body">
  <div class="row">

    <!-- seo analytics start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>20500</h3>
          <p class="text-muted">Site Analysis</p>
          <div id="seo-anlytics1" style="height:50px"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>20500</h3>
          <p class="text-muted">Total Sales</p>
          <div id="seo-anlytics2" style="height:50px"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>28000</h3>
          <p class="text-muted">Total Visits</p>
          <div id="seo-anlytics3" style="height:50px"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>59600</h3>
          <p class="text-muted">Total Usage</p>
          <div id="seo-anlytics4" style="height:50px"></div>
        </div>
      </div>
    </div>
    <!-- seo analytics end -->

    <!-- sale card start -->
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-blue total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>4000</h4>
            <p class="m-0">Total Sales</p>
          </div>
          <span class="label bg-c-blue value-badges">12%</span>
        </div>
        <div id="total-value-graph-1" style="height:100px;"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-red total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>489</h4>
            <p class="m-0">Total Comment</p>
          </div>
          <span class="label bg-c-red value-badges">15%</span>
        </div>
        <div id="total-value-graph-2" style="height:100px;"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-green total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>$5782</h4>
            <p class="m-0">Income Status</p>
          </div>
          <span class="label bg-c-green value-badges">20%</span>
        </div>
        <div id="total-value-graph-3" style="height:100px;"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-yellow total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>378</h4>
            <p class="m-0">Total Visitors</p>
          </div>
          <span class="label bg-c-yellow value-badges">23%</span>
        </div>
        <div id="total-value-graph-4" style="height:100px;"></div>
      </div>
    </div>
    <!-- sale card end -->

    <!-- Profit Visitor Start -->
    <div class="col-md-6 col-xl-4 ">
      <div class="card ">
        <div class="card-block ">
          <h2 class="text-center f-w-400 ">$45,567</h2>
          <p class="text-center text-muted ">Monthly Profit</p>
          <div id="monthlyprofit-1" style="height:30px"></div>
          <div class="m-t-20">
            <div class="row ">
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">$6,234</h6>
                <p class="text-muted f-14 m-b-0">Today</p>
              </div>
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">$4,387</h6>
                <p class="text-muted f-14 m-b-0">Yesterday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 ">
      <div class="card ">
        <div class="card-block ">
          <h2 class="text-center f-w-400 ">2,413</h2>
          <p class="text-center text-muted ">Total Sales</p>
          <div id="monthlyprofit-2" style="height:30px"></div>
          <div class="m-t-20">
            <div class="row ">
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">1578</h6>
                <p class="text-muted f-14 m-b-0">Today</p>
              </div>
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">1028</h6>
                <p class="text-muted f-14 m-b-0">Yesterday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4 ">
      <div class="card ">
        <div class="card-block ">
          <h2 class="text-center f-w-400 ">8,421</h2>
          <p class="text-center text-muted ">Unique Visitors</p>
          <div id="monthlyprofit-3" style="height:30px"></div>
          <div class="m-t-20">
            <div class="row ">
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">2,849</h6>
                <p class="text-muted f-14 m-b-0">Today</p>
              </div>
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">3,587</h6>
                <p class="text-muted f-14 m-b-0">Yesterday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profit Visitor End -->

    <!-- seo start -->
    <div class="col-xl-6 col-md-12">
      <app-card [title]="'Allocation'">
        <div class="row">
          <div class="col-sm-8">
            <div id="allocation-map" style="height:250px"></div>
          </div>
          <div class="col-sm-4">
            <div id="allocation-chart" style="height:250px"></div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-6">
              <h3>$16,756</h3>
              <h6 class="text-muted m-b-0">Visits<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
            </div>
            <div class="col-6">
              <div id="seo-chart1" style="height:50px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-6">
              <h3>49.54%</h3>
              <h6 class="text-muted m-b-0">Bounce Rate<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
            </div>
            <div class="col-6">
              <div id="seo-chart2" style="height:50px"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-6">
              <h3>1,62,564</h3>
              <h6 class="text-muted m-b-0">Products<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
            </div>
            <div class="col-6">
              <div id="seo-chart3" style="height:50px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- seo end -->

    <!-- Client Map Start -->
    <div class="col-md-6 col-xl-4">
      <div class="card client-map">
        <div class="card-block">
          <div class="client-detail">
            <div class="client-profile">
              <img src="assets/images/avatar-2.jpg" alt="">
            </div>
            <div class="client-contain">
              <h5>Gregory Johnes</h5>
              <a href="#!" class="text-muted">gregory@demo.com</a>
              <p class="text-muted m-0 p-t-10">Product Manager</p>
            </div>
          </div>
          <div class="">
            <div class="client-card-box">
              <div class="row">
                <div class="col-6 text-center client-border p-10">
                  <p class="text-muted m-0">Invites</p>
                  <span class="text-c-blue f-20 f-w-600">345</span>
                </div>
                <div class="col-6 text-center p-10">
                  <p class="text-muted m-0">Pending</p>
                  <span class="text-c-blue f-20 f-w-600">12</span>
                </div>
              </div>
              <div class="col-sm-12 client-border-card p-t-10">
                <p>Overall Activity</p>
              </div>
              <div id="client-map-1" style="height:70px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card client-map">
        <div class="card-block">
          <div class="client-detail">
            <div class="client-profile">
              <img src="assets/images/avatar-4.jpg" alt="">
            </div>
            <div class="client-contain">
              <h5>Gregory Johnes</h5>
              <a href="#!" class="text-muted">gregory@demo.com</a>
              <p class="text-muted m-0 p-t-10">Product Manager</p>
            </div>
          </div>
          <div class="">
            <div class="client-card-box">
              <div class="row">
                <div class="col-6 text-center client-border p-10">
                  <p class="text-muted m-0">Invites</p>
                  <span class="text-c-red f-20 f-w-600">845</span>
                </div>
                <div class="col-6 text-center p-10">
                  <p class="text-muted m-0">Pending</p>
                  <span class="text-c-red f-20 f-w-600">02</span>
                </div>
              </div>
              <div class="col-sm-12 client-border-card p-t-10">
                <p>Overall Activity</p>
              </div>
              <div id="client-map-2" style="height:70px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card client-map">
        <div class="card-block">
          <div class="client-detail">
            <div class="client-profile">
              <img src="assets/images/avatar-3.jpg" alt="">
            </div>
            <div class="client-contain">
              <h5>Gregory Johnes</h5>
              <a href="#!" class="text-muted">gregory@demo.com</a>
              <p class="text-muted m-0 p-t-10">Product Manager</p>
            </div>
          </div>
          <div class="">
            <div class="client-card-box">
              <div class="row">
                <div class="col-6 text-center client-border p-10">
                  <p class="text-muted m-0">Invites</p>
                  <span class="text-c-green f-20 f-w-600">812</span>
                </div>
                <div class="col-6 text-center p-10">
                  <p class="text-muted m-0">Pending</p>
                  <span class="text-c-green f-20 f-w-600">00</span>
                </div>
              </div>
              <div class="col-sm-12 client-border-card p-t-10">
                <p>Overall Activity</p>
              </div>
              <div id="client-map-3" style="height:70px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client Map End -->

    <!-- income start -->
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Total Leads</h5>
        </div>
        <div class="card-block">
          <p class="text-c-green f-w-500"><i class="fa fa-caret-up m-r-15"></i> 18% High than last month</p>
          <div class="row">
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Overall</p>
              <h5>76.12%</h5>
            </div>
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Monthly</p>
              <h5>16.40%</h5>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h5>4.56%</h5>
            </div>
          </div>
        </div>
        <div id="tot-lead" style="height:150px"></div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Total Vendors</h5>
        </div>
        <div class="card-block">
          <p class="text-c-red f-w-500"><i class="fa fa-caret-down m-r-15"></i> 24% High than last month</p>
          <div class="row">
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Overall</p>
              <h5>68.52%</h5>
            </div>
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Monthly</p>
              <h5>28.90%</h5>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h5>13.50%</h5>
            </div>
          </div>
        </div>
        <div id="tot-vendor" style="height:150px"></div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Invoice Generate</h5>
        </div>
        <div class="card-block">
          <p class="text-c-green f-w-500"><i class="fa fa-caret-up m-r-15"></i> 20% High than last month</p>
          <div class="row">
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Overall</p>
              <h5>68.52%</h5>
            </div>
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Monthly</p>
              <h5>28.90%</h5>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h5>13.50%</h5>
            </div>
          </div>
        </div>
        <div id="invoice-gen" style="height:150px"></div>
      </div>
    </div>
    <!-- income end -->

  </div>
</div>
