<div class="page-body breadcrumb-page">
  <!-- Simple Breadcrumb card start -->
  <div class="card">
    <div class="card-block">
      <h5>Simple Breadcrumb</h5>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a></li>
          <li class="breadcrumb-item"><a href="javascript:">Simple Breadcrumb</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Simple Breadcrumb card start -->
  <!-- Caption Breadcrumb card start -->
  <div class="card">
    <div class="card-block caption-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Caption Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Caption Breadcrumb card end -->
  <!-- Bottom Breadcrumb card start -->
  <div class="card">
    <div class="card-block">
      <div class="breadcrumb-header">
        <h5>Bottom Breadcrumb</h5>
      </div>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bottom Breadcrumb card end -->
  <!-- Without-icon Breadcrumb card start -->
  <div class="card">
    <div class="card-block caption-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Without Icon Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Without-icon Breadcrumb card start -->
  <h4 class="m-b-30">Color Varients</h4>
  <!-- Primary-color Breadcrumb card start -->
  <div class="card borderless-card">
    <div class="card-block primary-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Primary Color Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Primary-color Breadcrumb card end -->
  <!-- Inverse-color Breadcrumb card start -->
  <div class="card borderless-card">
    <div class="card-block inverse-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Inverse Color Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Inverse-color Breadcrumb card end -->
  <!-- Danger-color Breadcrumb card start -->
  <div class="card borderless-card">
    <div class="card-block danger-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Danger Color Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Danger-color Breadcrumb card end -->
  <!-- Info-color Breadcrumb card start -->
  <div class="card borderless-card">
    <div class="card-block info-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Info Color Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Info-color Breadcrumb card end -->
  <!-- Warning-color Breadcrumb card start -->
  <div class="card borderless-card">
    <div class="card-block warning-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Warning Color Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Warning-color Breadcrumb card end -->
  <!-- Success-color Breadcrumb card start -->
  <div class="card borderless-card">
    <div class="card-block success-breadcrumb">
      <div class="breadcrumb-header">
        <h5>Success Color Breadcrumb</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:">
              <i class="icofont icofont-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Breadcrumb</a>
          </li>
          <li class="breadcrumb-item"><a href="javascript:">Caption Breadcrumb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Success-color Breadcrumb card end -->
</div>
