<div class="page-body">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Stacked Area Chart'">
        <div id="chart"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'chart bar stacked'">
        <div id="chart1"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Gauge chart'">
        <div id="chart2"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Pie chart'">
        <div id="chart3"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Combination chart'">
        <div id="chart4"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Step chart'">
        <div id="chart5"></div>
      </app-card>
    </div>
    <div class="col-lg-12">
      <app-card [title]="'Scatter Plot chart'">
        <div id="chart6"></div>
      </app-card>
    </div>
  </div>
</div>
