<div class="page-body">
  <div class="row">
    <!-- seo analytics start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>20500</h3>
          <p class="text-muted">Total Order</p>
          <div id="seo-anlytics1" style="height:50px"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>20500</h3>
          <p class="text-muted">Total Sales</p>
          <div id="seo-anlytics2" style="height:50px"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>28000</h3>
          <p class="text-muted">Order Return</p>
          <div id="seo-anlytics3" style="height:50px"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <h3>59600</h3>
          <p class="text-muted">Total Stock</p>
          <div id="seo-anlytics4" style="height:50px"></div>
        </div>
      </div>
    </div>
    <!-- seo analytics end -->

    <!-- Latest Order start -->
    <div class="col-lg-4 col-md-12">
      <div class="card o-hidden">
        <div class="card-block bg-c-green p-b-0">
          <div class="row text-white m-b-20">
            <div class="col-auto">
              <h4 class="m-b-5">$654</h4>
              <h6>+1.65(2.56%)</h6>
            </div>
            <div class="col text-right">
              <h6>Friday</h6>
            </div>
          </div>
          <div id="sec-ecommerce-chart-line" style="height:60px"></div>
          <div class="row justify-content-center m-t-20">
            <div class="col-8">
              <div id="sec-ecommerce-chart-bar" style="height:100px"></div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <h4>$2654.00</h4>
          <p class="text-muted">Sales in Nov.</p>
          <div class="row">
            <div class="col">
              <p class="text-muted m-b-5">From Market</p>
              <h6>$1860.00</h6>
            </div>
            <div class="col">
              <p class="text-muted m-b-5">Referral</p>
              <h6>$500.00</h6>
            </div>
            <div class="col">
              <p class="text-muted m-b-5">Affiliate</p>
              <h6>$294.00</h6>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-8 col-md-12">
      <app-card [title]="'Latest Order'" [cardClass]="'latest-activity-card'" [headerClass]="'borderless'">
        <div class="table-responsive">
          <table class="table table-hover table-borderless">
            <thead>
            <tr>
              <th>Customer</th>
              <th>Order ID</th>
              <th>Photo</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>John Deo</td>
              <td>#81412</td>
              <td><img src="assets/images/widget/PHONE1.jpg" alt="" class="img-fluid"></td>
              <td>Moto G5</td>
              <td>10</td>
              <td>17-2-2017</td>
              <td><label class="label label-warning">Pending</label></td>
              <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
            </tr>
            <tr>
              <td>Jenny William</td>
              <td>#68457</td>
              <td><img src="assets/images/widget/PHONE2.jpg" alt="" class="img-fluid"></td>
              <td>iPhone 8</td>
              <td>16</td>
              <td>20-2-2017</td>
              <td><label class="label label-primary">Paid</label></td>
              <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
            </tr>
            <tr>
              <td>Lori Moore</td>
              <td>#45457</td>
              <td><img src="assets/images/widget/PHONE3.jpg" alt="" class="img-fluid"></td>
              <td>Redmi 4</td>
              <td>20</td>
              <td>17-2-2017</td>
              <td><label class="label label-success">Success</label></td>
              <td><a href="javascript:"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="javascript:"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right  m-r-20">
          <a href="javascript:" class="b-b-primary text-primary">View all Orders</a>
        </div>
      </app-card>
    </div>
    <!-- Latest Order end -->

    <!-- order  start -->
    <div class="col-md-12 col-xl-4">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6>Revenue</h6>
          <h2>$42,562</h2>
          <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10"></i></p>
          <i class="card-icon feather icon-filter"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6>Orders Received</h6>
          <h2>486</h2>
          <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-down"></i></p>
          <i class="card-icon feather icon-users"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6>Total Sales</h6>
          <h2>1641</h2>
          <p class="m-b-0">$5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-up"></i></p>
          <i class="card-icon feather icon-radio"></i>
        </div>
      </div>
    </div>
    <!-- order  end -->

    <!-- Latest Customers start -->
    <div class="col-lg-8 col-md-12">
      <app-card [title]="'Customer Reviews'" [cardClass]="'review-card'" [headerClass]="'borderless'">
        <div class="review-block">
          <div class="row">
            <div class="col-sm-auto p-r-0">
              <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
            </div>
            <div class="col">
              <h6 class="m-b-15">John Deo <span class="float-right f-13 text-muted"> a week ago</span></h6>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              <a href="javascript:" class="m-r-30"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
              <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
              <a href="javascript:"><i class="feather icon-edit"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-auto p-r-0">
              <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
            </div>
            <div class="col">
              <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <a href="javascript:" class="m-r-30"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
              <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
              <a href="javascript:"><i class="feather icon-edit"></i></a>
              <blockquote class="blockquote m-t-15 m-b-0">
                <h6>Allina D’croze</h6>
                <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="text-right  m-r-20">
          <a href="javascript:" class="b-b-primary text-primary">View all Customer Reviews</a>
        </div>
      </app-card>
    </div>
    <div class="col-lg-4 col-md-12">
      <!-- Profit Visitor Start -->
      <div class="card ">
        <div class="card-block ">
          <h2 class="text-center f-w-400 ">$45,567</h2>
          <p class="text-center text-muted ">Monthly Profit</p>
          <div id="monthlyprofit-1" style="height:70px"></div>
          <div class="m-t-20">
            <div class="row ">
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">$6,234</h6>
                <p class="text-muted f-14 m-b-0">Today</p>
              </div>
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">$4,387</h6>
                <p class="text-muted f-14 m-b-0">Yesterday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-block ">
          <h2 class="text-center f-w-400 ">2,413</h2>
          <p class="text-center text-muted ">Total Sales</p>
          <div id="monthlyprofit-2" style="height:70px"></div>
          <div class="m-t-20">
            <div class="row ">
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">1578</h6>
                <p class="text-muted f-14 m-b-0">Today</p>
              </div>
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">1028</h6>
                <p class="text-muted f-14 m-b-0">Yesterday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Latest Customers end -->

  </div>
</div>
