<div class="page-body">
  <div class="row">
    <!-- subscribe start -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="feather icon-mail text-c-blue d-block f-40"></i>
          <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
          <p class="m-b-20">Your main list is growing</p>
          <button class="btn btn-primary btn-sm btn-round">Manage List</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="feather icon-file-text text-c-green d-block f-40"></i>
          <h4 class="m-t-20"><span class="text-c-green">+40</span> Post</h4>
          <p class="m-b-20">Your main list is Recent post</p>
          <button class="btn btn-success btn-sm btn-round">Check them out</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="feather icon-users text-c-red d-block f-40"></i>
          <h4 class="m-t-20">New Customers</h4>
          <p class="m-b-20">This is your current new Users</p>
          <button class="btn btn-danger btn-sm btn-round">Upgrade to VIP</button>
        </div>
      </div>
    </div>
    <!-- subscribe end -->
    <!-- income start -->
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Total Leads</h5>
        </div>
        <div class="card-block">
          <p class="text-c-green f-w-500"><i class="fa fa-caret-up m-r-15"></i> 18% High than last month</p>
          <div class="row">
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Overall</p>
              <h5>76.12%</h5>
            </div>
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Monthly</p>
              <h5>16.40%</h5>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h5>4.56%</h5>
            </div>
          </div>
        </div>
        <div id="tot-lead" style="height:150px"></div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Total Vendors</h5>
        </div>
        <div class="card-block">
          <p class="text-c-red f-w-500"><i class="fa fa-caret-down m-r-15"></i> 24% High than last month</p>
          <div class="row">
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Overall</p>
              <h5>68.52%</h5>
            </div>
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Monthly</p>
              <h5>28.90%</h5>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h5>13.50%</h5>
            </div>
          </div>
        </div>
        <div id="tot-vendor" style="height:150px"></div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Invoice Generate</h5>
        </div>
        <div class="card-block">
          <p class="text-c-green f-w-500"><i class="fa fa-caret-up m-r-15"></i> 20% High than last month</p>
          <div class="row">
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Overall</p>
              <h5>68.52%</h5>
            </div>
            <div class="col-4 b-r-default">
              <p class="text-muted m-b-5">Monthly</p>
              <h5>28.90%</h5>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h5>13.50%</h5>
            </div>
          </div>
        </div>
        <div id="invoice-gen" style="height:150px"></div>
      </div>
    </div>
    <!-- income end -->

    <!-- Latest Activity, Feeds, Upcoming Deadlines start -->
    <div class="col-xl-8 col-md-12">
      <app-card [title]="'Latest Activity'" [cardClass]="'latest-activity-card'">
        <div class="latest-update-box">
          <div class="row p-t-20 p-b-30">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">just now</p>
              <i class="fa fa-fighter-jet bg-c-blue update-icon"></i>
            </div>
            <div class="col">
              <h6>John Deo</h6>
              <p class="text-muted m-b-15">The trip was an amazing and a life changing experience!!</p>
              <img src="assets/images/mega-menu/01.jpg" alt="" class="img-fluid img-100 m-r-15 m-b-10">
              <img src="assets/images/mega-menu/03.jpg" alt="" class="img-fluid img-100 m-r-15 m-b-10">
            </div>
          </div>
          <div class="row p-b-30">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">5 min ago</p>
              <i class="fa fa-file-text bg-c-blue update-icon"></i>
            </div>
            <div class="col">
              <h6>Administrator</h6>
              <p class="text-muted m-b-0">Free courses for all our customers at A1 Conference Room - 9:00 am tomorrow!</p>
            </div>
          </div>
          <div class="row p-b-30">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">3 hours ago</p>
              <i class="fa fa-map-marker bg-c-blue update-icon"></i>
            </div>
            <div class="col">
              <h6>Jeny William</h6>
              <p class="text-muted m-b-15">Happy Hour! Free drinks at <span class="text-c-blue">Cafe-Bar all </span>day long!</p>
              <agm-map [style.height]="'200px'" [latitude]="21.6776887" [longitude]="71.566261" [zoom]="8" [disableDefaultUI]="false" [zoomControl]="false">
                <agm-marker [latitude]="21.6776887" [longitude]="71.566261">
                  <agm-info-window><span class="text-c-blue">Cafe-Bar </span>- Nice Place</agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
        <div class="text-right">
          <a href="javascript:" class=" b-b-primary text-primary">View all Activity</a>
        </div>
      </app-card>
    </div>
    <div class="col-xl-4 col-md-12">
      <app-card [title]="'Feeds'" [cardClass]="'feed-card'">
        <div class="row m-b-30">
          <div class="col-auto p-r-0">
            <i class="fa fa-bell bg-c-blue feed-icon"></i>
          </div>
          <div class="col">
            <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted float-right f-13">Just Now</span></h6>
          </div>
        </div>
        <div class="row m-b-30">
          <div class="col-auto p-r-0">
            <i class="fa fa-shopping-cart bg-c-red feed-icon"></i>
          </div>
          <div class="col">
            <h6 class="m-b-5">New order received <span class="text-muted float-right f-13">Just Now</span></h6>
          </div>
        </div>
        <div class="row m-b-30">
          <div class="col-auto p-r-0">
            <i class="fa fa-file-text bg-c-green feed-icon"></i>
          </div>
          <div class="col">
            <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted float-right f-13">Just Now</span></h6>
          </div>
        </div>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary">View all Feeds</a>
        </div>
      </app-card>
      <app-card [title]="'Upcoming Deadlines'" [cardClass]="'feed-card'">
        <div class="row m-b-25">
          <div class="col-auto p-r-0">
            <img src="assets/images/mega-menu/01.jpg" alt="" class="img-fluid img-50">
          </div>
          <div class="col">
            <h6 class="m-b-5">New able - Redesign</h6>
            <p class="text-c-red m-b-0">2 Days Remaining</p>
          </div>
        </div>
        <div class="row m-b-25">
          <div class="col-auto p-r-0">
            <img src="assets/images/mega-menu/02.jpg" alt="" class="img-fluid img-50">
          </div>
          <div class="col">
            <h6 class="m-b-5">New Admin Dashboard</h6>
            <p class="text-c-red m-b-0">Proposal in 6 Days</p>
          </div>
        </div>
        <div class="row m-b-20">
          <div class="col-auto p-r-0">
            <img src="assets/images/mega-menu/03.jpg" alt="" class="img-fluid img-50">
          </div>
          <div class="col">
            <h6 class="m-b-5">Logo Design</h6>
            <p class="text-c-green m-b-0">10 Days Remaining</p>
          </div>
        </div>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary">View all Feeds</a>
        </div>
      </app-card>
    </div>
    <!-- Latest Activity, Feeds, Upcoming Deadlines end -->

    <!-- Client Map Start -->
    <div class="col-md-6 col-xl-4">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-users f-30 text-c-red"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Happy Customers</h6>
              <h2 class="m-b-0">5984</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-block ">
          <h2 class="text-center f-w-400 ">8,421</h2>
          <p class="text-center text-muted ">Unique Visitors</p>
          <div id="monthlyprofit-3" style="height:30px"></div>
          <div class="m-t-5">
            <div class="row ">
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">2,849</h6>
                <p class="text-muted f-14 m-b-0">Today</p>
              </div>
              <div class="col-6 text-center ">
                <h6 class="f-20 f-w-400">3,587</h6>
                <p class="text-muted f-14 m-b-0">Yesterday</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card client-map">
        <div class="card-block">
          <div class="client-detail">
            <div class="client-profile">
              <img src="assets/images/avatar-4.jpg" alt="">
            </div>
            <div class="client-contain">
              <h5>Gregory Johnes</h5>
              <a href="javascript:" class="text-muted">gregory@demo.com</a>
              <p class="text-muted m-0 p-t-10">Product Manager</p>
            </div>
          </div>
          <div class="">
            <div class="client-card-box">
              <div class="row">
                <div class="col-6 text-center client-border p-10">
                  <p class="text-muted m-0">Invites</p>
                  <span class="text-c-red f-20 f-w-600">845</span>
                </div>
                <div class="col-6 text-center p-10">
                  <p class="text-muted m-0">Pending</p>
                  <span class="text-c-red f-20 f-w-600">02</span>
                </div>
              </div>
              <div class="col-sm-12 client-border-card p-t-10">
                <p>Overall Activity</p>
              </div>
              <div id="client-map-2" style="height:70px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card client-map">
        <div class="card-block">
          <div class="client-detail">
            <div class="client-profile">
              <img src="assets/images/avatar-3.jpg" alt="">
            </div>
            <div class="client-contain">
              <h5>Gregory Johnes</h5>
              <a href="javascript:" class="text-muted">gregory@demo.com</a>
              <p class="text-muted m-0 p-t-10">Product Manager</p>
            </div>
          </div>
          <div class="">
            <div class="client-card-box">
              <div class="row">
                <div class="col-6 text-center client-border p-10">
                  <p class="text-muted m-0">Invites</p>
                  <span class="text-c-green f-20 f-w-600">812</span>
                </div>
                <div class="col-6 text-center p-10">
                  <p class="text-muted m-0">Pending</p>
                  <span class="text-c-green f-20 f-w-600">00</span>
                </div>
              </div>
              <div class="col-sm-12 client-border-card p-t-10">
                <p>Overall Activity</p>
              </div>
              <div id="client-map-3" style="height:70px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client Map End -->
  </div>
</div>
