<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.erupt.flow.mapper.OaTaskMapper">

    <select id="listMyTasks" resultType="xyz.erupt.flow.bean.entity.OaTask">
        select * from oa_ru_task t1
    </select>

</mapper>
