<div class="row">
  <div class="col-sm-12">
    <!-- Input group card start -->
    <div class="card">
      <div class="card-header">
        <h5>Material Input Group</h5>
        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      </div>
      <div class="card-block">
        <!-- Basic group add-ons start -->
        <div class="m-b-20">
          <h4 class="sub-title">Basic Group Add-ons</h4>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Simple Add-on</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="material-addone">
                    <span>@</span>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">form-default</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Placeholder</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="material-addone">
                    <span>%</span>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Left addon</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Right Add-on</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Right addon</label>
                  </div>
                  <div class="material-addone">
                    <span>$</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Both-side Add-on</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="material-addone">
                    <span>$</span>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Right addon</label>
                  </div>
                  <div class="material-addone">
                    <span>.20</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Muliple Add-ons</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="material-addone">
                    <span>$</span>
                  </div>
                  <div class="material-addone">
                    <span>.20</span>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Right addon</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Basic group add-ons end -->
        <!-- Icon Group Addons start -->
        <div>
          <h4 class="sub-title">Icon Group Addons</h4>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Left Icon</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="material-addone">
                    <i class="icofont icofont-ui-volume"></i>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">form-default</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Right Icon</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">form-default</label>
                  </div>
                  <div class="material-addone">
                    <i class="icofont icofont-ui-wifi"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Both-side Icons Addon</label>
            <div class="col-sm-8 col-lg-10">
              <form class="form-material">
                <div class="material-group">
                  <div class="material-addone">
                    <i class="icofont icofont-rounded-left"></i>
                  </div>
                  <div class="form-group form-primary">
                    <input type="text" name="footer-email" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">form-default</label>
                  </div>
                  <div class="material-addone">
                    <i class="icofont icofont-rounded-right"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Icon Group Addons end -->

      </div>
    </div>
    <!-- Input group card end -->
    <!-- Input Group Sizes & Colors card start -->
    <div class="card">
      <div class="card-header">
        <h5>Material Input Group Sizes & Colors</h5>
        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="sub-title">Group Addons Sizes</h4>
            <div class="row">
              <div class="col-sm-12">
                <form class="form-material">
                  <div class="material-group material-group-lg">
                    <div class="material-addone">
                      <span>@</span>
                    </div>
                    <div class="form-group form-primary">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">form-default</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <form class="form-material">
                  <div class="material-group">
                    <div class="material-addone">
                      <span>@</span>
                    </div>
                    <div class="form-group form-group-lg form-primary">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">form-default</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <form class="form-material">
                  <div class="material-group material-group-sm">
                    <div class="material-addone">
                      <span>@</span>
                    </div>
                    <div class="form-group form-primary">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">form-default</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="sub-title">Color Addons</h4>
            <div class="row">
              <div class="col-sm-12">
                <form class="form-material">
                  <div class="material-group material-group-primary">
                    <div class="material-addone">
                      <i class="icofont icofont-presentation"></i>
                    </div>
                    <div class="form-group form-primary">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">material-group-primary</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <form class="form-material">
                  <div class="material-group material-group-warning">
                    <div class="material-addone">
                      <i class="icofont icofont-queen"></i>
                    </div>
                    <div class="form-group form-warning">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">input-group-warning</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form class="form-material">
                  <div class="material-group material-group-default">
                    <div class="material-addone">
                      <i class="icofont icofont-shield"></i>
                    </div>
                    <div class="form-group form-default">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">input-group-default</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <form class="form-material">
                  <div class="material-group material-group-danger">
                    <div class="material-addone">
                      <i class="icofont icofont-volume-down"></i>
                    </div>
                    <div class="form-group form-danger">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">input-group-danger</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form class="form-material">
                  <div class="material-group material-group-success">
                    <div class="material-addone">
                      <i class="icofont icofont-volume-off"></i>
                    </div>
                    <div class="form-group form-success">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">input-group-success</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <form class="form-material">
                  <div class="material-group material-group-inverse">
                    <div class="material-addone">
                      <i class="icofont icofont-wifi"></i>
                    </div>
                    <div class="form-group form-inverse">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">input-group-inverse</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-sm-6">
                <form class="form-material">
                  <div class="material-group material-group-info">
                    <div class="material-addone">
                      <i class="icofont icofont-signal"></i>
                    </div>
                    <div class="form-group form-info">
                      <input type="text" name="footer-email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">input-group-info</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Input Group Sizes & Colors card end -->
    <!-- Input group card start -->
    <div class="card">
      <div class="card-header">
        <h5>Input Group</h5>
        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      </div>
      <div class="card-block">
        <!-- Basic group add-ons start -->
        <div class="m-b-20">
          <h4 class="sub-title">Basic Group Add-ons</h4>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Simple Add-on</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text">@</label>
                                                                </span>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Placeholder</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend" id="basic-addon2">
                                                                    <label class="input-group-text">%</label>
                                                                </span>
                <input type="text" class="form-control" placeholder="Left addon">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Right Add-on</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Right addon">
                <span class="input-group-append" id="basic-addon3">
                                                                    <label class="input-group-text">$</label>
                                                                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Both-side Add-on</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text">$</label>
                                                                </span>
                <input type="text" class="form-control" placeholder="Both-side addon">
                <span class="input-group-append">
                                                                    <label class="input-group-text">.20</label>
                                                                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Muliple Add-ons</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text">$</label>
                                                                </span>
                <span class="input-group-prepend">
                                                                    <label class="input-group-text">.20</label>
                                                                </span>
                <input type="text" class="form-control" placeholder="Multiple addons">
              </div>
            </div>
          </div>
        </div>
        <!-- Basic group add-ons end -->
        <!-- Icon Group Addons start -->
        <div>
          <h4 class="sub-title">Icon Group Addons</h4>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Left Icon</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                                </span>
                <input type="text" class="form-control" placeholder="Left addon">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Right Icon</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Right addon">
                <span class="input-group-append">
                                                                    <label class="input-group-text"><i class="icofont icofont-ui-wifi"></i></label>
                                                                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Both-side Icons Addon</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-rounded-left"></i></label>
                                                                </span>
                <input type="text" class="form-control" placeholder="Right add-on">
                <span class="input-group-append">
                                                                    <label class="input-group-text"><i class="icofont icofont-rounded-right"></i></label>
                                                                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Icon Group Addons end -->
      </div>
    </div>
    <!-- Input group card end -->
    <!-- Input Group Sizes & Colors card start -->
    <div class="card">
      <div class="card-header">
        <h5>Input Group Sizes & Colors</h5>
        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="sub-title">Group Addons Sizes</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-group-lg">
                                                                    <span class="input-group-prepend">
                                                                        <label class="input-group-text">@</label>
                                                                    </span>
                  <input type="text" class="form-control" placeholder="input-group-lg">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10">
                <div class="input-group">
                                                                    <span class="input-group-prepend">
                                                                        <label class="input-group-text">@</label>
                                                                    </span>
                  <input type="text" class="form-control" placeholder="input-group">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div class="input-group input-group-sm">
                                                                    <span class="input-group-prepend">
                                                                        <label class="input-group-text">@</label>
                                                                    </span>
                  <input type="text" class="form-control" placeholder="input-group-sm">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="sub-title">Color Addons</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-group-primary">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-presentation"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-primary">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-warning">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-queen"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-warning">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-default">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-shield"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-default">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-danger">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-volume-down"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-danger">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-success">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-volume-off"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-success">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-inverse">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-wifi"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-inverse">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-info">
                  <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-signal"></i></label></span>
                  <input type="text" class="form-control" placeholder="input-group-info">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Input Group Sizes & Colors card end -->
    <!-- Input Group With Components card start -->
    <div class="card">
      <div class="card-header">
        <h5>Input Group With Components</h5>
        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      </div>
      <div class="card-block">
        <div class="row m-b-20">
          <div class="col-sm-12 col-lg-6">
            <h4 class="sub-title">Icon Group with Buttons</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-group-button">
                  <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button">Left Button</button>
                  </div>
                  <input type="text" class="form-control" placeholder="Left Button">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-group-button">
                  <input type="text" class="form-control" placeholder="Right Button">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Right Button</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-group-button">
                  <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button">Left Button</button>
                  </div>
                  <input type="text" class="form-control" placeholder="Both side addons">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Right Button</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <h4 class="sub-title">Icon Group with Dropdowns</h4>
            <div class="row">
              <div class="col-sm-12">
                <div ngbDropdown class="input-group input-group-dropdown">
                  <div class="input-group-prepend">
                    <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Left Action</button>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:">Action</a>
                      <a class="dropdown-item" href="javascript:">Another action</a>
                      <a class="dropdown-item" href="javascript:">Something else</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:">Separated link</a>
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div ngbDropdown class="input-group input-group-dropdown">
                  <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  <div class="input-group-append">
                    <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Right Action</button>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:">Action</a>
                      <a class="dropdown-item" href="javascript:">Another action</a>
                      <a class="dropdown-item" href="javascript:">Something else</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:">Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div ngbDropdown class="input-group input-group-dropdown">
                  <div class="input-group-btn">
                    <div class="input-group-prepend">
                      <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Click</button>
                      <div ngbDropdownMenu class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:">Action</a>
                        <a class="dropdown-item" href="javascript:">Another action</a>
                        <a class="dropdown-item" href="javascript:">Something else</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:">Separated link</a>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  <div ngbDropdown class="input-group-append">
                    <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Click</button>
                    <div ngbDropdownMenu class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:">Action</a>
                      <a class="dropdown-item" href="javascript:">Another action</a>
                      <a class="dropdown-item" href="javascript:">Something else</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:">Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="sub-title">Icon Group with Checkbox</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="sub-title">Icon Group with Radio</h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" aria-label="Radio button for following text input">
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Input Group With Components card end -->
    <div class="card">
      <div class="card-header">
        <h5>Input Group Alignment</h5>
        <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      </div>
      <div class="card-block">
        <form>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Normal Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                                </span>
                <input type="text" class="form-control" placeholder="Normal Text">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Bold Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-queen"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-bold" placeholder=".form-control-bold">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Capitalize Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-capitalize" placeholder=".form-control-capitalize">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Uppercase Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-wifi"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-uppercase" placeholder=".form-control-uppercase">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Lowercase Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-shield"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-lowercase" placeholder=".form-control-lowercase">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Varient Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-variant" placeholder=".form-control-variant">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Left-Align Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-left" placeholder=".form-control-left">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Center-Align Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-queen"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-center" placeholder=".form-control-center">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Right-Align Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-shield"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-right" placeholder=".form-control-right">
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">RTL Text</label>
            <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                                                                <span class="input-group-prepend">
                                                                    <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                                </span>
                <input type="text" class="form-control form-control-rtl" placeholder=".form-control-rtl">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
