<div class="page-body">
  <div class="row">

    <!-- page statustic card start -->
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-yellow">$30200</h4>
              <h6 class="text-muted m-b-0">All Earnings</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-bar-chart-2 f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-yellow">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-up text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">290+</h4>
              <h6 class="text-muted m-b-0">Page Views</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-file-text f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-green">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-up text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">145</h4>
              <h6 class="text-muted m-b-0">Task</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-calendar f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-red">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-down text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Downloads</h6>
            </div>
            <div class="col-4 text-right">
              <i class="feather icon-thumbs-down f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-blue">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">% change</p>
            </div>
            <div class="col-3 text-right">
              <i class="feather icon-trending-down text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- page statustic card end -->

    <!-- widget-statstic start -->
    <div class="col-md-12 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header borderless">
          <div class="card-header-left">
            <h5>Statistics</h5>
            <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
          </div>
        </div>
        <div class="card-block">
          <i class="feather icon-sliders st-icon bg-c-yellow"></i>
          <div class="text-left">
            <h3 class="d-inline-block">5,456</h3>
            <i class="feather icon-arrow-up f-30 text-c-green"></i>
            <span class="float-right bg-c-yellow">23%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header borderless">
          <div class="card-header-left">
            <h5>Unique Visitor</h5>
            <p class="p-t-10 m-b-0 text-c-red">55% From last 28 hours</p>
          </div>
        </div>
        <div class="card-block">
          <i class="feather icon-users st-icon bg-c-red txt-lite-color"></i>
          <div class="text-left">
            <h3 class="d-inline-block">3,874</h3>
            <i class="feather icon-arrow-down text-c-red f-30 "></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card widget-statstic-card">
        <div class="card-header borderless">
          <div class="card-header-left">
            <h5>New Orders</h5>
            <p class="p-t-10 m-b-0 text-c-blue">54% From last month</p>
          </div>
        </div>
        <div class="card-block">
          <i class="feather icon-shopping-cart st-icon bg-c-blue"></i>
          <div class="text-left">
            <h3 class="d-inline-block">5,456</h3>
            <i class="feather icon-arrow-up text-c-green f-30 "></i>
          </div>
        </div>
      </div>
    </div>
    <!-- widget-statstic end -->

    <!-- order  start -->
    <div class="col-md-12 col-xl-4">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6>Revenue</h6>
          <h2>$42,562</h2>
          <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10"></i></p>
          <i class="card-icon feather icon-filter"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6>Orders Received</h6>
          <h2>486</h2>
          <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-down"></i></p>
          <i class="card-icon feather icon-users"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6>Total Sales</h6>
          <h2>1641</h2>
          <p class="m-b-0">$5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-up"></i></p>
          <i class="card-icon feather icon-radio"></i>
        </div>
      </div>
    </div>
    <!-- order  end -->

    <!-- subscribe start -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="feather icon-mail text-c-blue d-block f-40"></i>
          <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
          <p class="m-b-20">Your main list is growing</p>
          <button class="btn btn-primary btn-sm btn-round">Manage List</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="feather icon-twitter text-c-green d-block f-40"></i>
          <h4 class="m-t-20"><span class="text-c-green">+40</span> Followers</h4>
          <p class="m-b-20">Your main list is growing</p>
          <button class="btn btn-success btn-sm btn-round">Check them out</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block text-center">
          <i class="feather icon-briefcase text-c-red d-block f-40"></i>
          <h4 class="m-t-20">Business Plan</h4>
          <p class="m-b-20">This is your current active plan</p>
          <button class="btn btn-danger btn-sm btn-round">Upgrade to VIP</button>
        </div>
      </div>
    </div>
    <!-- subscribe end -->

    <!-- statustic start -->
    <div class="col-md-6 col-lg-3">
      <div class="card statustic-card">
        <div class="card-header borderless">
          <h5>Articles</h5>
        </div>
        <div class="card-block text-center">
          <span class="d-block text-c-blue f-36">56</span>
          <p class="m-b-0">Total</p>
          <div class="progress">
            <div class="progress-bar bg-c-blue" style="width:56%"></div>
          </div>
        </div>
        <div class="card-footer bg-c-blue">
          <h6 class="text-white m-b-0">Draft: 22</h6>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card statustic-card">
        <div class="card-header borderless">
          <h5>Categories</h5>
        </div>
        <div class="card-block text-center">
          <span class="d-block text-c-green f-36">14</span>
          <p class="m-b-0">Total</p>
          <div class="progress">
            <div class="progress-bar bg-c-green" style="width:14%"></div>
          </div>
        </div>
        <div class="card-footer bg-c-green">
          <h6 class="text-white m-b-0">Used: 14</h6>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card statustic-card">
        <div class="card-header borderless">
          <h5>Tickets</h5>
        </div>
        <div class="card-block text-center">
          <span class="d-block text-c-red f-36">85</span>
          <p class="m-b-0">Total</p>
          <div class="progress">
            <div class="progress-bar bg-c-red" style="width:85%"></div>
          </div>
        </div>
        <div class="card-footer bg-c-red">
          <h6 class="text-white m-b-0">Closed Today: 85</h6>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card statustic-card">
        <div class="card-header borderless">
          <h5>Forums</h5>
        </div>
        <div class="card-block text-center">
          <span class="d-block text-c-yellow f-36">42</span>
          <p class="m-b-0">Total</p>
          <div class="progress">
            <div class="progress-bar bg-c-yellow" style="width:42%"></div>
          </div>
        </div>
        <div class="card-footer bg-c-yellow">
          <h6 class="text-white m-b-0">Unanswered: 42</h6>
        </div>
      </div>
    </div>
    <!-- statustic end -->

    <!-- customar project  start -->
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-book f-30 text-c-purple"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Tickets Answered</h6>
              <h2 class="m-b-0">379</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-navigation-2 f-30 text-c-green"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Projects Launched</h6>
              <h2 class="m-b-0">205</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-users f-30 text-c-red"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Happy Customers</h6>
              <h2 class="m-b-0">5984</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center m-l-0">
            <div class="col-auto">
              <i class="icon feather icon-award f-30 text-c-blue"></i>
            </div>
            <div class="col-auto">
              <h6 class="text-muted m-b-10">Unique Innovation</h6>
              <h2 class="m-b-0">325</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- customar project  end -->

    <!-- social download  start -->
    <div class="col-xl-4 col-md-6">
      <div class="card social-card bg-c-red">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="feather icon-mail f-34 text-c-red social-icon"></i>
            </div>
            <div class="col">
              <h6 class="m-b-0">Mail</h6>
              <p>231.2w downloads</p>
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
        </div>
        <a href="javascript:" class="download-icon"><i class="feather icon-arrow-down"></i></a>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card social-card bg-c-blue">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="feather icon-twitter f-34 text-c-blue social-icon"></i>
            </div>
            <div class="col">
              <h6 class="m-b-0">Twitter</h6>
              <p>231.2w downloads</p>
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
        </div>
        <a href="javascript:" class="download-icon"><i class="feather icon-arrow-down"></i></a>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card social-card bg-c-green">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-auto">
              <i class="feather icon-instagram f-34 text-c-green social-icon"></i>
            </div>
            <div class="col">
              <h6 class="m-b-0">Instagram</h6>
              <p>231.2w downloads</p>
              <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
            </div>
          </div>
        </div>
        <a href="javascript:" class="download-icon"><i class="feather icon-arrow-down"></i></a>
      </div>
    </div>
    <!-- social download  end -->

    <!-- order-visitor start -->
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Total Subscription</h6>
          <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-down m-r-15 text-c-red"></i>7652</h4>
          <p class="m-b-0">48% From Last 24 Hours</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Order Status</h6>
          <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-up m-r-15 text-c-green"></i>6325</h4>
          <p class="m-b-0">36% From Last 6 Months</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Unique Visitors</h6>
          <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-down m-r-15 text-c-red"></i>652</h4>
          <p class="m-b-0">36% From Last 6 Months</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card text-center order-visitor-card">
        <div class="card-block">
          <h6 class="m-b-0">Monthly Earnings</h6>
          <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-up m-r-15 text-c-green"></i>5963</h4>
          <p class="m-b-0">36% From Last 6 Months</p>
        </div>
      </div>
    </div>
    <!-- order-visitor end -->

    <!-- visitors  start -->
    <div class="col-sm-4">
      <div class="card bg-c-red text-white widget-visitor-card">
        <div class="card-block-small text-center">
          <h2>1,658</h2>
          <h6>Daily user</h6>
          <i class="feather icon-user"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-c-blue text-white widget-visitor-card">
        <div class="card-block-small text-center">
          <h2>5,678</h2>
          <h6>Daily visitor</h6>
          <i class="feather icon-file-text"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-c-yellow text-white widget-visitor-card">
        <div class="card-block-small text-center">
          <h2>5,678</h2>
          <h6>Last month visitor</h6>
          <i class="feather icon-award"></i>
        </div>
      </div>
    </div>
    <!-- visitors  end -->

    <!-- project  start -->
    <div class="col-md-12 col-xl-6 ">
      <div class="card app-design">
        <div class="card-block">
          <button class="btn btn-primary float-right">Completed</button>
          <h6 class="f-w-400 text-muted">App Design And Development</h6>
          <p class="text-c-blue f-w-400">Android</p>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
          <div class="design-description d-inline-block m-r-40">
            <h3 class="f-w-400">678</h3>
            <p class="text-muted">Question</p>
          </div>
          <div class="design-description d-inline-block">
            <h3 class="f-w-400">1,452</h3>
            <p class="text-muted">Comments</p>
          </div>
          <div class="team-box p-b-20">
            <p class="d-inline-block m-r-20 f-w-400">Team</p>
            <div class="team-section d-inline-block">
              <a href="javascript: "><img src="assets/images/avatar-2.jpg " data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
              <a href="javascript: "><img src="assets/images/avatar-3.jpg " data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
              <a href="javascript: "><img src="assets/images/avatar-4.jpg " data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
              <a href="javascript: "><img src="assets/images/avatar-2.jpg " data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
            </div>
          </div>
          <div class="progress-box">
            <p class="d-inline-block m-r-20 f-w-400">Progress</p>
            <div class="progress d-inline-block">
              <div class="progress-bar bg-c-blue" style="width:78% "><label>78%</label></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6 ">
      <div class="card app-design">
        <div class="card-block">
          <button class="btn btn-success float-right">Pending</button>
          <h6 class="f-w-400 text-muted">Landing Page Design</h6>
          <p class="text-c-green f-w-400">Webdesign</p>
          <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
          <div class="design-description d-inline-block m-r-40">
            <h3 class="f-w-400">271</h3>
            <p class="text-muted">Question</p>
          </div>
          <div class="design-description d-inline-block">
            <h3 class="f-w-400">816</h3>
            <p class="text-muted">Comments</p>
          </div>
          <div class="team-box p-b-20">
            <p class="d-inline-block m-r-20 f-w-400">Team</p>
            <div class="team-section d-inline-block">
              <div class="team-section d-inline-block">
                <a href="javascript: "><img src="assets/images/avatar-3.jpg " data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
                <a href="javascript: "><img src="assets/images/avatar-4.jpg " data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
                <a href="javascript: "><img src="assets/images/avatar-2.jpg " data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
                <a href="javascript: "><img src="assets/images/avatar-3.jpg " data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
              </div>
            </div>
          </div>
          <div class="progress-box">
            <p class="d-inline-block m-r-20 f-w-400">Progress</p>
            <div class="progress d-inline-block">
              <div class="progress-bar bg-c-green" style="width:78% "><label>78%</label></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- project  end -->

    <!-- user start -->
    <div class="col-xl-6 col-md-12">
      <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
          <div class="col-sm-4 bg-c-blue user-profile">
            <div class="card-block text-center text-white">
              <div class="m-b-25">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
              </div>
              <h6 class="f-w-600">Jeny William</h6>
              <p>Web Designer</p>
              <a href="javascript:" class="text-white"><i class="feather icon-edit m-t-10 f-16"></i></a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="card-block">
              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Email</p>
                  <h6 class="text-muted f-w-400"><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">jeny@gmail.com</a> </h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Phone</p>
                  <h6 class="text-muted f-w-400">0023-333-526136</h6>
                </div>
              </div>
              <h6 class="m-b-20 m-t-50 p-b-5 b-b-default f-w-600">Projects</h6>
              <div class="row">
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Recent</p>
                  <h6 class="text-muted f-w-400">Guruable Admin</h6>
                </div>
                <div class="col-sm-6">
                  <p class="m-b-10 f-w-600">Most Viewed</p>
                  <h6 class="text-muted f-w-400">Able Pro Admin</h6>
                </div>
              </div>
              <ul class="social-link list-unstyled m-t-50 m-b-20">
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook"><i class="feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter"><i class="feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                <li><a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><i class="feather icon-instagram instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card user-card2">
        <div class="card-block text-center">
          <h6 class="m-b-15">Project Risk</h6>
          <div class="risk-rate">
            <span><b>5</b></span>
          </div>
          <h6 class="m-b-10 m-t-10">Balanced</h6>
          <a href="javascript:" class="text-c-green b-b-success">Change Your Risk</a>
          <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
            <div class="col m-t-15 b-r-default">
              <h6 class="text-muted">Nr</h6>
              <h6>AWS 2455</h6>
            </div>
            <div class="col m-t-15">
              <h6 class="text-muted">Created</h6>
              <h6>30th Sep</h6>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">Download Overall Report</button>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card wather-card">
        <div class="nature-card">
          <img src="assets/images/widget/wathernature.png" alt="whether image" class="img-fluid main-img">
          <img src="assets/images/widget/watherstar1.png" alt="whether image" class="snow1">
          <img src="assets/images/widget/watherstar2.png" alt="whether image" class="snow2">
          <img src="assets/images/widget/watherbottom.png" alt="whether image" class="bottom-img">
          <div class="nature-cont text-white">
            <h6>Snow</h6>
            <h2>-10°</h2>
            <h6>10:20 AM</h6>
          </div>
        </div>
        <div class="card-block">
          <div class="row text-c-blue">
            <div class="col">
              <h6>Sunday</h6></div>
            <div class="col text-right">-10°<i class="fa fa-snowflake-o m-l-20"></i>
            </div>
          </div>
          <div class="row m-t-10">
            <div class="col">
              <h6>Monday</h6></div>
            <div class="col text-right">8°<i class="fa fa-cloud m-l-20"></i></div>
          </div>
        </div>
      </div>
    </div>
    <!-- user end -->

    <!-- statustic with progressbar  start -->
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-header borderless">
          <h5>Open Ticket</h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <label class="label label-success">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
            </div>
            <div class="col text-right">
              <h5 class="">35</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-green" style="width:35%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-header borderless">
          <h5>Open Ticket</h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <label class="label bg-c-blue">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
            </div>
            <div class="col text-right">
              <h5 class="">28</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-blue" style="width:28%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-header borderless">
          <h5>Open Ticket</h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <label class="label label-danger">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
            </div>
            <div class="col text-right">
              <h5 class="">87</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-red" style="width:87%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card statustic-progress-card">
        <div class="card-header borderless">
          <h5>Open Ticket</h5>
        </div>
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col">
              <label class="label label-warning">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
            </div>
            <div class="col text-right">
              <h5 class="">32</h5>
            </div>
          </div>
          <div class="progress m-t-15">
            <div class="progress-bar bg-c-yellow" style="width:32%"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- statustic with progressbar  end -->

  </div>
</div>
