<div class="page-body">
  <!-- bottom only shadow card start -->
  <app-card [title]="'Top ONLY'" [blockClass]="'box-list m-t-15'">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-20 z-depth-top-0 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-0">
          <p class="text-sm-center">Use class <code>z-depth-top-0</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-top-1 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-1">
          <p class="text-sm-center ">Use class <code>z-depth-top-1</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-top-2 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-2">
          <p class="text-sm-center">Use class <code>z-depth-top-2</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-top-3 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-3">
          <p class="text-sm-center">Use class <code>z-depth-top-3</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-top-4 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-4">
          <p class="text-sm-center">Use class <code>z-depth-top-4</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-top-5 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-5">
          <p class="text-sm-center">Use class <code>z-depth-top-5</code> inside div element to add box-shadow.</p>
        </div>
      </div>
    </div>
  </app-card>
  <!-- bottom only shadow card end -->
  <!-- Bottom only shadow card start -->
  <app-card [title]="'BOTTOM ONLY'" [blockClass]="'box-list m-t-5'">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-20 z-depth-bottom-0 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-0">
          <p class="text-sm-center">Use class <code>z-depth-bottom-0</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-bottom-1 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-1">
          <p class="text-sm-center ">Use class <code>z-depth-bottom-1</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-bottom-2 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-2">
          <p class="text-sm-center">Use class <code>z-depth-bottom-2</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-bottom-3 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-3">
          <p class="text-sm-center">Use class <code>z-depth-bottom-3</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-bottom-4 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-4">
          <p class="text-sm-center">Use class <code>z-depth-bottom-4</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-bottom-5 waves-effect" placement="bottom" ngbTooltip=".z-depth-bottom-5">
          <p class="text-sm-center">Use class <code>z-depth-bottom-5</code> inside div element to add box-shadow.</p>
        </div>
      </div>
    </div>
  </app-card>
  <!-- Bottom only shadow card end -->
  <!-- Left only shadow card start -->
  <app-card [title]="'LEFT ONLY'" [blockClass]="'box-list m-t-5'">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-20 z-depth-left-0 waves-effect" placement="bottom" ngbTooltip=".z-depth-left-0">
          <p class="text-sm-center">Use class <code>z-depth-left-0</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-left-1 waves-effect" placement="bottom" ngbTooltip=".z-depth-left-1">
          <p class="text-sm-center ">Use class <code>z-depth-left-1</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-left-2 waves-effect" placement="bottom" ngbTooltip=".z-depth-left-2">
          <p class="text-sm-center">Use class <code>z-depth-left-2</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-left-3 waves-effect" placement="bottom" ngbTooltip=".z-depth-left-3">
          <p class="text-sm-center">Use class <code>z-depth-left-3</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-left-4 waves-effect" placement="bottom" ngbTooltip=".z-depth-left-4">
          <p class="text-sm-center">Use class <code>z-depth-left-4</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-left-5 waves-effect" placement="bottom" ngbTooltip=".z-depth-left-5">
          <p class="text-sm-center">Use class <code>z-depth-left-5</code> inside div element to add box-shadow.</p>
        </div>
      </div>
    </div>
  </app-card>
  <!-- Left only shadow card end -->
  <!-- Right only shadow card start -->
  <app-card [title]="'RIGHT ONLY'" [blockClass]="'box-list m-t-5'">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-20 z-depth-right-0 waves-effect" placement="bottom" ngbTooltip=".z-depth-right-0">
          <p class="text-sm-center">Use class <code>z-depth-right-0</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-right-1 waves-effect" placement="bottom" ngbTooltip=".z-depth-right-1">
          <p class="text-sm-center ">Use class <code>z-depth-right-1</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-right-2 waves-effect" placement="bottom" ngbTooltip=".z-depth-right-2">
          <p class="text-sm-center">Use class <code>z-depth-right-2</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-right-3 waves-effect" placement="bottom" ngbTooltip=".z-depth-right-3">
          <p class="text-sm-center">Use class <code>z-depth-right-3</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-right-4 waves-effect" placement="bottom" ngbTooltip=".z-depth-right-4">
          <p class="text-sm-center">Use class <code>z-depth-right-4</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-right-5 waves-effect" placement="bottom" ngbTooltip=".z-depth-right-5">
          <p class="text-sm-center">Use class <code>z-depth-right-5</code> inside div element to add box-shadow.</p>
        </div>
      </div>
    </div>
  </app-card>
  <!-- Right only shadow card end -->
  <!-- All side shadow card start -->
  <app-card [title]="'ALL SIDE'" [blockClass]="'box-list m-t-20'">
    <div class="row">
      <div class="col-lg-4">
        <div class="p-20 z-depth-0 waves-effect" placement="bottom" ngbTooltip=".z-depth-0">
          <p class="text-sm-center">Use class <code>z-depth-0</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-1 waves-effect" placement="bottom" ngbTooltip=".z-depth-1">
          <p class="text-sm-center ">Use class <code>z-depth-1</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-2 waves-effect" placement="bottom" ngbTooltip=".z-depth-2">
          <p class="text-sm-center">Use class <code>z-depth-2</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-3 waves-effect" placement="bottom" ngbTooltip=".z-depth-3">
          <p class="text-sm-center">Use class <code>z-depth-3</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-4 waves-effect" placement="bottom" ngbTooltip=".z-depth-4">
          <p class="text-sm-center">Use class <code>z-depth-4</code> inside div element to add box-shadow.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-20 z-depth-5 waves-effect" placement="bottom" ngbTooltip=".z-depth-5">
          <p class="text-sm-center">Use class <code>z-depth-5</code> inside div element to add box-shadow.</p>
        </div>
      </div>
    </div>
  </app-card>
  <!-- All side shadow card end -->
</div>
