<div class="page-body">
  <!-- round card start -->
  <div class="row users-card">
    <div class="col-lg-6 col-xl-3 col-md-6">
      <div class="card rounded-card user-card">
        <div class="card-block">
          <div class="img-hover">
            <img class="img-fluid img-radius" src="assets/images/user-card/img-round1.jpg" alt="round-img">
            <div class="img-overlay img-radius">
                  <span>
                  <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                  <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius><i class="icofont icofont-link-alt"></i></a>
                  </span>
            </div>
          </div>
          <div class="user-content">
            <h4 class="">Cedric Kelly</h4>
            <p class="m-b-0 text-muted">Network engineer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 col-md-6">
      <div class="card rounded-card user-card">
        <div class="card-block">
          <div class="img-hover">
            <img class="img-fluid img-radius" src="assets/images/user-card/img-round2.jpg" alt="round-img">
            <div class="img-overlay img-radius">
                  <span>
                  <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                  <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius><i class="icofont icofont-link-alt"></i></a>
                  </span>
            </div>
          </div>
          <div class="user-content">
            <h4 class="">Howard Hatfield</h4>
            <p class="m-b-0 text-muted">UX/UI designer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 col-md-6">
      <div class="card rounded-card user-card">
        <div class="card-block">
          <div class="img-hover">
            <img class="img-fluid img-radius" src="assets/images/user-card/img-round3.jpg" alt="round-img">
            <div class="img-overlay img-radius">
                  <span>
                  <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                  <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius><i class="icofont icofont-link-alt"></i></a>
                  </span>
            </div>
          </div>
          <div class="user-content">
            <h4 class="">Jenette Caldwell</h4>
            <p class="m-b-0 text-muted">SEO specialist</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 col-md-6">
      <div class="card rounded-card user-card">
        <div class="card-block">
          <div class="img-hover">
            <img class="img-fluid img-radius" src="assets/images/user-card/img-round4.jpg" alt="round-img">
            <div class="img-overlay img-radius">
              <span>
                <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                <a href="javascript:" class="btn btn-sm btn-primary waves-light" mdbRippleRadius><i class="icofont icofont-link-alt"></i></a>
              </span>
            </div>
          </div>
          <div class="user-content">
            <h4 class="">Hermione Butler</h4>
            <p class="m-b-0 text-muted">Chief officer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Round card end -->
  <!-- Inverse Image Caps card start -->
  <div class="row users-card">
    <div class="col-lg-6">
      <div class="card user-card">
        <div class="card-header">
          <h5>Top Image Cap</h5>
        </div>
        <div class="card-block">
          <img class="img-fluid" src="assets/images/user-card/inverse-img1.jpg" alt="img-inverse">
          <div class="top-cap-text">
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card user-card">
        <div class="card-header">
          <h5>Botttom Image Cap</h5>
        </div>
        <div class="card-block">
          <div class="top-cap-text">
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
          </div>
          <img class="img-fluid" src="assets/images/user-card/inverse-img2.jpg" alt="img-inverse">
        </div>
      </div>
    </div>
  </div>
  <!-- end of row -->
  <!-- Inverse Image Caps card end -->
  <!-- Simple card start -->
  <div class="row simple-cards users-card">
    <div class="col-md-12 col-xl-4">
      <div class="card user-card">
        <div class="card-header-img">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round2.jpg" alt="card-img">
          <h4>Michelle House</h4>
          <h5>abc123@domain.com</h5>
          <h6>Systems Administrator</h6>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-bell-alt"></i>
              <label class="badge badge-primary badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-heart"></i>
              <label class="badge badge-success badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-bag-alt"></i>
              <label class="badge badge-danger badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-ui-message"></i>
              <label class="badge badge-info badge-top-right">9</label>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.</p>
        <div>
          <button type="button" class="btn btn-primary waves-light m-r-15" mdbRippleRadius><i class="icofont icofont-plus m-r-5"></i>Follow</button>
          <button type="button" class="btn btn-success waves-light" mdbRippleRadius><i class="icofont icofont-user m-r-5"></i>Profile</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card user-card">
        <div class="card-header-img">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round4.jpg" alt="card-img">
          <h4>Cara Stevens</h4>
          <h5>abc123@domain.com</h5>
          <h6>Sales Assistant</h6>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-bell-alt"></i>
              <label class="badge badge-primary badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-heart"></i>
              <label class="badge badge-success badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-bag-alt"></i>
              <label class="badge badge-danger badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-ui-message"></i>
              <label class="badge badge-info badge-top-right">9</label>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.</p>
        <div>
          <button type="button" class="btn btn-primary waves-light m-r-15" mdbRippleRadius><i class="icofont icofont-plus m-r-5"></i>Follow</button>
          <button type="button" class="btn btn-success waves-light" mdbRippleRadius><i class="icofont icofont-user m-r-5"></i>Profile</button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card user-card">
        <div class="card-header-img">
          <img class="img-fluid img-radius" src="assets/images/user-card/img-round3.jpg" alt="card-img">
          <h4>Cedric Kelly</h4>
          <h5>abc123@domain.com</h5>
          <h6>Integration Specialist</h6>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-bell-alt"></i>
              <label class="badge badge-primary badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-heart"></i>
              <label class="badge badge-success badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-bag-alt"></i>
              <label class="badge badge-danger badge-top-right">9</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="label-icon">
              <i class="icofont icofont-ui-message"></i>
              <label class="badge badge-info badge-top-right">9</label>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.</p>
        <div>
          <button type="button" class="btn btn-primary waves-light m-r-15" mdbRippleRadius><i class="icofont icofont-plus m-r-5"></i>Follow</button>
          <button type="button" class="btn btn-success waves-light" mdbRippleRadius><i class="icofont icofont-user m-r-5"></i>Profile</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of row -->
  <!-- Simple card end -->
</div>
