<div class="page-body">
  <div class="row">

    <!-- amount start -->
    <div class="col-md-6 col-xl-4">
      <div class="card amount-card o-hidden">
        <div class="card-block">
          <h2 class="f-w-400">$23,567</h2>
          <p class="text-muted f-w-600 f-16"><span class="text-c-blue">Amount</span> Processed</p>
        </div>
        <div id="amount-processed" style="height:50px"></div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card amount-card o-hidden">
        <div class="card-block">
          <h2 class="f-w-400">$14,552</h2>
          <p class="text-muted f-w-600 f-16"><span class="text-c-green">Amount</span> Spent</p>
        </div>
        <div id="amount-spent" style="height:50px"></div>
      </div>
    </div>
    <div class="col-md-12 col-xl-4">
      <div class="card amount-card o-hidden">
        <div class="card-block">
          <h2 class="f-w-400">$31,156</h2>
          <p class="text-muted f-w-600 f-16"><span class="text-c-yellow">Profit</span> Processed
          </p>
        </div>
        <div id="profit-processed" style="height:50px"></div>
      </div>
    </div>
    <!-- amount end -->

    <!-- seo ecommerce start -->
    <div class="col-xl-6 col-md-12">
      <div class="card o-hidden">
        <div class="card-block bg-c-green p-b-0">
          <div class="row text-white">
            <div class="col-auto">
              <h4 class="m-b-5">$654</h4>
              <h6>+1.65(2.56%)</h6>
            </div>
            <div class="col text-right">
              <h6>Friday</h6>
            </div>
          </div>
          <div id="sec-ecommerce-chart-line" style="height:50px"></div>
          <div class="row justify-content-center">
            <div class="col-8">
              <div id="sec-ecommerce-chart-bar" style="height:80px"></div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <h4>$2654.00</h4>
          <p class="text-muted">Sales in Nov.</p>
          <div class="row">
            <div class="col">
              <p class="text-muted m-b-5">From Market</p>
              <h6>$1860.00</h6>
            </div>
            <div class="col">
              <p class="text-muted m-b-5">Referral</p>
              <h6>$500.00</h6>
            </div>
            <div class="col">
              <p class="text-muted m-b-5">Affiliate</p>
              <h6>$294.00</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row justify-content-center text-center">
            <div class="col-5">
              <h6 class="text-muted">Real-Time Visits</h6>
              <h3>53k</h3>
            </div>
            <div class="col-5">
              <h6 class="text-muted">Returning Visitors</h6>
              <h3>10k</h3>
            </div>
          </div>
          <div id="seo-ecommerce-barchart" style="height: 170px"></div>
          <div class="row justify-content-center text-center b-t-default m-t-15 p-t-20">
            <div class="col-3 b-r-default">
              <h5>85%</h5>
              <p class="text-muted m-b-0">Satisfied</p>
            </div>
            <div class="col-3 b-r-default">
              <h5>6%</h5>
              <p class="text-muted m-b-0">Unsatisfied</p>
            </div>
            <div class="col-3">
              <h5>9%</h5>
              <p class="text-muted m-b-0">NA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- seo ecommerce end -->

    <!-- income start -->
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Sale Income</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-4">
              <p class="text-muted m-b-5">Overall</p>
              <h6>68.52%</h6>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Monthly</p>
              <h6>28.90%</h6>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h6>13.50%</h6>
            </div>
          </div>
        </div>
        <div id="sal-income" style="height:100px"></div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Rent Income</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-4">
              <p class="text-muted m-b-5">Overall</p>
              <h6>68.52%</h6>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Monthly</p>
              <h6>28.90%</h6>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h6>13.50%</h6>
            </div>
          </div>
        </div>
        <div id="rent-income" style="height:100px"></div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Income Analysis</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-4">
              <p class="text-muted m-b-5">Overall</p>
              <h6>68.52%</h6>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Monthly</p>
              <h6>28.90%</h6>
            </div>
            <div class="col-4">
              <p class="text-muted m-b-5">Day</p>
              <h6>13.50%</h6>
            </div>
          </div>
        </div>
        <div id="income-analysis" style="height:100px"></div>
      </div>
    </div>
    <!-- income end -->

    <!-- sales start -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-block text-center">
          <div class="row">
            <div class="col-xl-3 col-md-6 m-t-10 m-b-10">
              <h6>Daily Sales</h6>
              <div class="row justify-content-center">
                <div class="col-8">
                  <div id="sale-report-1" style="height:150px"></div>
                </div>
              </div>
              <h5 class="m-t-10 m-b-0"><i class="fa fa-caret-up text-c-green m-r-10"></i>$16524</h5>
            </div>
            <div class="col-xl-3 col-md-6 m-t-10 m-b-10">
              <h6>Weekly Sales</h6>
              <div class="row justify-content-center">
                <div class="col-8">
                  <div id="sale-report-2" style="height:150px"></div>
                </div>
              </div>
              <h5 class="m-t-10 m-b-0"><i class="fa fa-caret-down text-c-red m-r-10"></i>$6423</h5>
            </div>
            <div class="col-xl-3 col-md-6 m-t-10 m-b-10">
              <h6>Monthly Sales</h6>
              <div class="row justify-content-center">
                <div class="col-8">
                  <div id="sale-report-3" style="height:150px"></div>
                </div>
              </div>
              <h5 class="m-t-10 m-b-0"><i class="fa fa-caret-up text-c-green m-r-10"></i>$14524</h5>
            </div>
            <div class="col-xl-3 col-md-6 m-t-10 m-b-10">
              <h6>Yearly Sales</h6>
              <div class="row justify-content-center">
                <div class="col-8">
                  <div id="sale-report-4" style="height:150px"></div>
                </div>
              </div>
              <h5 class="m-t-10 m-b-0"><i class="fa fa-caret-down text-c-red m-r-10"></i>$8652</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sales end -->

    <!--  sale analytics start -->
    <div class="col-xl-8 col-md-12">
      <app-card [title]="'Sales Analytics'">
        <div id="sales-analytics" style="height: 475px;"></div>
      </app-card>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col">
              <h4>$256.23</h4>
              <p class="text-muted">This Month</p>
            </div>
            <div class="col-auto">
              <label class="label label-success">+20%</label>
            </div>
          </div>
          <div id="this-month" style="height: 150px;"></div>
        </div>
      </div>
      <div class="card quater-card">
        <div class="card-block">
          <h6 class="text-muted m-b-15">This Quarter</h6>
          <h4>$3,9452.50</h4>
          <p class="text-muted">$3,9452.50</p>
          <h5>87</h5>
          <p class="text-muted">Online Revenue<span class="float-right">80%</span></p>
          <div class="progress">
            <div class="progress-bar bg-c-blue" style="width: 80%"></div>
          </div>
          <h5 class="m-t-15">68</h5>
          <p class="text-muted">Offline Revenue<span class="float-right">50%</span></p>
          <div class="progress">
            <div class="progress-bar bg-c-green" style="width: 50%"></div>
          </div>
        </div>
      </div>
    </div>
    <!--  sale analytics end -->

    <!-- sale order start -->
    <div class="col-xl-4 col-md-6">
      <div class="card o-hidden">
        <div class="card-block bg-c-red text-white">
          <h6>Sales Per Day <span class="float-right"><i class="feather icon-trending-up m-r-15"></i>3%</span></h6>
          <div id="sale-chart1" style="height:150px"></div>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6 b-r-default">
              <h4>$4230</h4>
              <p class="text-muted m-b-0">Total Revenue</p>
            </div>
            <div class="col-6">
              <h4>321</h4>
              <p class="text-muted m-b-0">Today Sales</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card o-hidden">
        <div class="card-block bg-c-green text-white">
          <h6>Visits<span class="float-right"><i class="feather icon-trending-up m-r-15"></i>9%</span></h6>
          <div id="sale-chart2" style="height:150px"></div>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6 b-r-default">
              <h4>3562</h4>
              <p class="text-muted m-b-0">Monthly Visits</p>
            </div>
            <div class="col-6">
              <h4>96</h4>
              <p class="text-muted m-b-0">Today Visits</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card o-hidden">
        <div class="card-block bg-c-blue text-white">
          <h6>Orders<span class="float-right"><i class="feather icon-trending-up m-r-15"></i>12%</span></h6>
          <div id="sale-chart3" style="height:150px"></div>
        </div>
        <div class="card-footer text-center">
          <div class="row">
            <div class="col-6 b-r-default">
              <h4>1695</h4>
              <p class="text-muted m-b-0">Monthly Orders</p>
            </div>
            <div class="col-6">
              <h4>52</h4>
              <p class="text-muted m-b-0">Today Orders</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sale order end -->

    <!-- page view prod-sale start -->
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Products Sales'">
        <div id="product-sales-chart" style="height: 300px"></div>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-6">
      <app-card [title]="'Site Analytics'" [headerClass]="'borderless'">
        <div id="seo-ecommerce-linechart" style="height: 300px"></div>
      </app-card>
    </div>
    <!-- page view prod-sale end -->

    <!-- income start -->
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header borderless">
          <div class="card-header-left">
            <h5>Power</h5>
          </div>
        </div>
        <div class="card-block-big card-power">
          <h2>2789<span class="text-muted m-l-5 f-14">kw</span></h2>
          <div id="power-card-chart1" style="height:75px"></div>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">2876 <span> kw</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">234 <span> kw</span></h6>
                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-header borderless">
          <div class="card-header-left">
            <h5>Water</h5>
          </div>
        </div>
        <div class="card-block-big card-power">
          <h2>7.3<span class="text-muted m-l-10 f-14">m3</span></h2>
          <div id="power-card-chart2" style="height:75px"></div>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">4.5 <span> m3</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">0.5 <span> m3</span></h6>

                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-header borderless">
          <div class="card-header-left">
            <h5>Temperature</h5>
          </div>
        </div>
        <div class="card-block-big card-power">
          <h2>7.3<span class="text-muted m-l-10 f-14">deg</span></h2>
          <div id="power-card-chart3" style="height:75px"></div>
          <div class="row">
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">4.5 <span> deg</span></h6>
                <p class="text-muted m-0">month</p>
              </div>
            </div>
            <div class="col col-auto">
              <div class="map-area">
                <h6 class="m-0">0.5 <span> deg</span></h6>

                <p class="text-muted m-0">Today</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- income end -->

    <!--task and avrage value start-->
    <div class="col-md-12">
      <app-card [title]="'Revenue'">
        <div id="revenue-map" style="height: 215px;"></div>
      </app-card>
    </div>
    <!--task and avrage value end-->

    <!-- sale order start -->
    <div class="col-xl-3 col-md-6">
      <app-card title="'Monthly Expense'">
        <div id="monthly-expense" [style.height]="'150px'"></div>
        <div class="row text-center">
          <div class="col-6"><h6 class="text-muted" id="exp-val"></h6></div>
          <div class="col-6"><h6 class="text-muted">Safe</h6></div>
        </div>
      </app-card>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Daily Visitors</h5>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
              <li><i class="feather icon-maximize full-card"></i></li>
              <li><i class="feather icon-minus minimize-card"></i></li>
              <li><i class="feather icon-refresh-cw reload-card"></i></li>
              <li><i class="feather icon-trash close-card"></i></li>
              <li><i class="feather icon-chevron-left open-card-option"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-block">
          <div id="daily-visitor" style="height:150px"></div>
          <div class="row text-center">
            <div class="col-6">
              <h6 class="text-muted">3,652</h6></div>
            <div class="col-6">
              <h6 class="text-muted"><i class="fa fa-arrow-up text-c-green m-r-10"></i>15%</h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Daily Sales</h5>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
              <li><i class="feather icon-maximize full-card"></i></li>
              <li><i class="feather icon-minus minimize-card"></i></li>
              <li><i class="feather icon-refresh-cw reload-card"></i></li>
              <li><i class="feather icon-trash close-card"></i></li>
              <li><i class="feather icon-chevron-left open-card-option"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-block">
          <div id="daily-sales" style="height:150px"></div>
          <h6><span class="text-c-blue">1652</span> Products Sold</h6>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Storage Space</h5>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
              <li><i class="feather icon-maximize full-card"></i></li>
              <li><i class="feather icon-minus minimize-card"></i></li>
              <li><i class="feather icon-refresh-cw reload-card"></i></li>
              <li><i class="feather icon-trash close-card"></i></li>
              <li><i class="feather icon-chevron-left open-card-option"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-block">
          <div id="storage-space" style="height:150px"></div>
          <h6><span class="text-c-blue">1652</span> Products Sold</h6>
        </div>
      </div>
    </div>
    <!-- sale order end -->

    <!-- real time start -->
    <div class="col-xl-8 col-md-12">
      <app-card [title]="'Realtime Data of Visits'">
        <div id="real-time-chart" [style.height]="'330px'"></div>
      </app-card>
    </div>
    <div class="col-xl-4 col-md-12">
      <app-card [title]="'Sales Prediction'">
        <div class="row justify-content-end align-items-center">
          <div class="col-md-6">
            <h3>$3987</h3>
            <p class="text-muted m-b-5">25% Increased</p>
            <h6>(160-180 Sales)</h6>
          </div>
          <div class="col-md-6">
            <div id="sales-prediction-chart" [style.height]="'100px'"></div>
          </div>
        </div>
      </app-card>
      <app-card [title]="'Emails Sent'">
        <div class="row justify-content-end align-items-center">
          <div class="col-md-6">
            <h6 id="opened" class="text-c-blue">520 Opened</h6>
            <h6 id="unopened" class="text-c-red">70 Unopened</h6>
          </div>
          <div class="col-md-6">
            <div id="emails-sent-sales-chart" [style.height]="'100px'"></div>
          </div>
        </div>
      </app-card>
    </div>
    <!-- real time end -->

    <!-- project and visit start -->
    <div class="col-xl-4 col-md-12">
      <div class="card">
        <div class="card-block bg-c-blue">
          <div id="project-earning" [style.height]="'200px'"></div>
        </div>
        <div class="card-footer">
          <h6 class="text-muted m-b-30 m-t-15">Total completed project and earning</h6>
          <div class="row text-center">
            <div class="col-6 b-r-default">
              <h6 class="text-muted m-b-10">Completed Projects</h6>
              <h3 class="m-b-0">175</h3>
            </div>
            <div class="col-6">
              <h6 class="text-muted m-b-10">Total Earnings</h6>
              <h3 class="m-b-0">76.6M</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-md-12">
      <app-card [title]="'Realtime Data of Visits'">
        <div id="realtime-visit-chart" [style.height]="'280px'"></div>
      </app-card>
    </div>
    <!-- project and visit end -->

  </div>
</div>
