<div class="page-body">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'DOUGHNUT CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type" [data]="data"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Radar chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type2" [data]="data2" [options]="options2"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Polar chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type3" [data]="data3" [options]="options3"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Pie chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type4" [data]="data4"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Bar chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type1" [data]="data1" [options]="options" style="width: 100%; height: 470px;"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Bubble chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type5" [data]="data5" [options]="options5" style="width: 100%; height: 470px;"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Scales chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type6" [data]="data5" [options]="options6" style="width: 100%; height: 470px;"></chart>
      </app-card>
    </div>
    <div class="col-md-12 col-lg-4">
      <app-card [title]="'Time Scale chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type6" [data]="data5" [options]="options7" style="width: 100%; height: 470px;"></chart>
      </app-card>
    </div>
  </div>

</div>
