<simple-notifications [options]="options"></simple-notifications>
<div class="page-body">
  <div class="row">
    <!-- site Analytics card start -->
    <div class="col-lg-7 col-md-12">
      <app-card [title]="'Site Analytics'" [classHeader]="'true'" [headerClass]="'borderless'">
        <span class="code-header"><span class="text-muted">For more details about usage, please refer <a href="https://www.amcharts.com/online-store/" target="_blank">amCharts</a> licences.</span></span>
        <div id="seo-ecommerce-barchart" style="height: 350px"></div>
      </app-card>
    </div>
    <div class="col-lg-5 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <div class="row align-items-center">
                <div class="col-8">
                  <h4 class="text-c-yellow">$30200</h4>
                  <h6 class="text-muted m-b-0">All Earnings</h6>
                </div>
                <div class="col-4 text-right">
                  <i class="feather icon-bar-chart-2 f-28"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-c-yellow">
              <div class="row align-items-center">
                <div class="col-9">
                  <p class="text-white m-b-0">% change</p>
                </div>
                <div class="col-3 text-right">
                  <i class="feather icon-trending-up text-white f-16"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <div class="row align-items-center">
                <div class="col-8">
                  <h4 class="text-c-green">290+</h4>
                  <h6 class="text-muted m-b-0">Page Views</h6>
                </div>
                <div class="col-4 text-right">
                  <i class="feather icon-file-text f-28"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-c-green">
              <div class="row align-items-center">
                <div class="col-9">
                  <p class="text-white m-b-0">% change</p>
                </div>
                <div class="col-3 text-right">
                  <i class="feather icon-trending-up text-white f-16"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <div class="row align-items-center">
                <div class="col-8">
                  <h4 class="text-c-red">145</h4>
                  <h6 class="text-muted m-b-0">Task</h6>
                </div>
                <div class="col-4 text-right">
                  <i class="feather icon-calendar f-28"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-c-red">
              <div class="row align-items-center">
                <div class="col-9">
                  <p class="text-white m-b-0">% change</p>
                </div>
                <div class="col-3 text-right">
                  <i class="feather icon-trending-down text-white f-16"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-block">
              <div class="row align-items-center">
                <div class="col-8">
                  <h4 class="text-c-blue">500</h4>
                  <h6 class="text-muted m-b-0">Downloads</h6>
                </div>
                <div class="col-4 text-right">
                  <i class="feather icon-thumbs-down f-28"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-c-blue">
              <div class="row align-items-center">
                <div class="col-9">
                  <p class="text-white m-b-0">% change</p>
                </div>
                <div class="col-3 text-right">
                  <i class="feather icon-trending-down text-white f-16"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card social-card bg-twitter">
            <div class="card-block">
              <div class="row align-items-center">
                <div class="col-auto">
                  <i class="feather icon-twitter f-34 text-twitter social-icon"></i>
                </div>
                <div class="col">
                  <h6 class="m-b-0">Twitter</h6>
                  <p>231.2w downloads</p>
                  <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                </div>
              </div>
            </div>
            <a href="javascript:" class="download-icon"><i class="feather icon-arrow-down"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- site Analytics card end -->

    <!-- project and updates start -->
    <div class="col-lg-6 col-md-12">
      <app-card [title]="'Projects'" [cardClass]="'table-card'" [headerClass]="'borderless'">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" id="selectall"/>
                      <span class="cr">
                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                      </span>
                    </label>
                  </div>
                </div>
                Assigned</th>
              <th>Name</th>
              <th>Due Date</th>
              <th class="text-right">Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="1"/>
                      <span class="cr">
                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>John Deo</h6>
                    <p class="text-muted m-b-0">Graphics Designer</p>
                  </div>
                </div>
              </td>
              <td>Able Pro</td>
              <td>Jun, 26</td>
              <td class="text-right"><label class="label label-danger">Low</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="2"/>
                      <span class="cr">
                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>Jenifer Vintage</h6>
                    <p class="text-muted m-b-0">Web Designer</p>
                  </div>
                </div>
              </td>
              <td>Mashable</td>
              <td>March, 31</td>
              <td class="text-right"><label class="label label-primary">high</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="3"/>
                      <span class="cr">
                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>William Jem</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </td>
              <td>Flatable</td>
              <td>Aug, 02</td>
              <td class="text-right"><label class="label label-success">medium</label></td>
            </tr>
            <tr>
              <td>
                <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                    <label class="check-task">
                      <input type="checkbox" class="case" name="case" value="4"/>
                      <span class="cr">
                        <i class="cr-icon feather icon-check f-w-600 txt-default"></i>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </td>
              <td>Guruable</td>
              <td>Sep, 22</td>
              <td class="text-right"><label class="label label-primary">high</label></td>
            </tr>
            </tbody>
          </table>
          <div class="text-right m-r-20">
            <a href="javascript:" class=" b-b-primary text-primary">View all Projects</a>
          </div>
        </div>
      </app-card>
    </div>
    <div class="col-lg-6 col-md-12">
      <app-card [title]="'Latest Updates'" [cardClass]="'latest-update-card'" [headerClass]="'borderless'">
        <div class="latest-update-box">
          <div class="row p-t-20 p-b-20">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">4 hrs ago</p>
              <i class="feather icon-briefcase bg-c-red update-icon"></i>
            </div>
            <div class="col">
              <h6>+ 5 New Products were added!</h6>
              <p class="text-muted m-b-0">Congratulations!</p>
            </div>
          </div>
          <div class="row p-t-20 p-b-20">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">1 day ago</p>
              <i class="feather icon-check bg-c-green  update-icon"></i>
            </div>
            <div class="col">
              <h6>Database backup completed!</h6>
              <p class="text-muted m-b-0">Download the <span> <a href="javascript:" target="_top" class="text-c-blue">latest backup</a> </span>.</p>
            </div>
          </div>
          <div class="row p-t-20 p-b-20">
            <div class="col-auto text-right update-meta">
              <p class="text-muted m-b-0 d-inline">2 day ago</p>
              <i class="feather icon-facebook bg-facebook update-icon"></i>
            </div>
            <div class="col">
              <h6>+1 Friend Requests</h6>
              <p class="text-muted m-b-10">This is great, keep it up!</p>
              <div class="table-responsive">
                <table class="table table-hover m-b-0">
                  <tbody>
                  <tr>
                    <td class="b-none">
                      <a href="javascript:" class="align-middle">
                        <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                          <h6>Jeny William</h6>
                          <p class="text-muted m-b-0">Graphic Designer</p>
                        </div>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="b-none">
                      <a href="javascript:" class="align-middle">
                        <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                        <div class="d-inline-block">
                          <h6>John Deo</h6>
                          <p class="text-muted m-b-0">Web Designer</p>
                        </div>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
        </div>
      </app-card>
    </div>
    <!-- project and updates end -->

    <!-- sale card start -->
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-blue total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>4000</h4>
            <p class="m-0">Total Sales</p>
          </div>
          <span class="label bg-c-blue value-badges">12%</span>
        </div>
        <div id="total-value-graph-1" style="height:100px;"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-red total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>489</h4>
            <p class="m-0">Total Comment</p>
          </div>
          <span class="label bg-c-red value-badges">15%</span>
        </div>
        <div id="total-value-graph-2" style="height:100px;"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-green total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>$5782</h4>
            <p class="m-0">Income Status</p>
          </div>
          <span class="label bg-c-green value-badges">20%</span>
        </div>
        <div id="total-value-graph-3" style="height:100px;"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-c-yellow total-card">
        <div class="card-block">
          <div class="text-left">
            <h4>378</h4>
            <p class="m-0">Total Visitors</p>
          </div>
          <span class="label bg-c-yellow value-badges">23%</span>
        </div>
        <div id="total-value-graph-4" style="height:100px;"></div>
      </div>
    </div>
    <!-- sale card end -->

    <!-- project and updates start -->
    <div class="col-lg-8 col-md-12">
      <app-card [title]="'Customer Reviews'" [headerClass]="'borderless'" [cardClass]="'table-card review-card'">
        <div class="review-block">
          <div class="row">
            <div class="col-sm-auto p-r-0">
              <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
            </div>
            <div class="col">
              <h6 class="m-b-15">John Deo <span class="float-right f-13 text-muted"> a week ago</span></h6>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.</p>
              <a href="javascript:" class="m-r-30"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
              <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
              <a href="javascript:"><i class="feather icon-edit"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-auto p-r-0">
              <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
            </div>
            <div class="col">
              <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
              <a href="javascript:"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <a href="javascript:"><i class="feather icon-star f-18 text-default"></i></a>
              <p class="m-t-15 m-b-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.</p>
              <a href="javascript:" class="m-r-30"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
              <a href="javascript:"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
              <a href="javascript:"><i class="feather icon-edit"></i></a>
              <blockquote class="blockquote m-t-15 m-b-0">
                <h6>Allina D’croze</h6>
                <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="text-right  m-r-20">
          <a href="javascript:" class="b-b-primary text-primary">View all Customer Reviews</a>
        </div>
      </app-card>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header borderless">
              <div class="card-header-left">
                <h5>Power</h5>
              </div>
            </div>
            <div class="card-block-big card-power">
              <h2>2789<span class="text-muted m-l-5 f-14">kw</span></h2>
              <div id="power-card-chart1" style="height:75px"></div>
              <div class="row">
                <div class="col col-auto">
                  <div class="map-area">
                    <h6 class="m-0">2876 <span> kw</span></h6>
                    <p class="text-muted m-0">month</p>
                  </div>
                </div>
                <div class="col col-auto">
                  <div class="map-area">
                    <h6 class="m-0">234 <span> kw</span></h6>
                    <p class="text-muted m-0">Today</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header borderless">
              <div class="card-header-left">
                <h5>Water</h5>
              </div>
            </div>
            <div class="card-block-big card-power">
              <h2>7.3<span class="text-muted m-l-10 f-14">m3</span></h2>
              <div id="power-card-chart2" style="height:75px"></div>
              <div class="row">
                <div class="col col-auto">
                  <div class="map-area">
                    <h6 class="m-0">4.5 <span> m3</span></h6>
                    <p class="text-muted m-0">month</p>
                  </div>
                </div>
                <div class="col col-auto">
                  <div class="map-area">
                    <h6 class="m-0">0.5 <span> m3</span></h6>
                    <p class="text-muted m-0">Today</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <app-card [title]="'Chat'" [headerClass]="'borderless'" [cardClass]="'chat-card'">
        <div class="row m-b-20 received-chat">
          <div class="col-auto p-r-0">
            <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40">
          </div>
          <div class="col">
            <div class="msg">
              <p class="m-b-0">Nice to meet you!</p>
            </div>
            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>10:20am</p>
          </div>
        </div>
        <div class="row m-b-20 send-chat">
          <div class="col">
            <div class="msg">
              <p class="m-b-0">Nice to meet you!</p>
            </div>
            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>10:20am</p>
          </div>
          <div class="col-auto p-l-0">
            <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40">
          </div>
        </div>
        <div class="row m-b-20 received-chat">
          <div class="col-auto p-r-0">
            <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40">
          </div>
          <div class="col">
            <div class="msg">
              <p class="m-b-0">Nice to meet you!</p>
              <img src="assets/images/mega-menu/01.jpg" alt="">
              <img src="assets/images/mega-menu/03.jpg" alt="">
            </div>
            <p class="text-muted m-b-0"><i class="feather icon-clock m-r-10"></i>10:20am</p>
          </div>
        </div>
        <div class="right-icon-control">
          <form class="form-material" action="javascript:">
            <div class="form-group form-primary">
              <input type="text" name="footer-email" class="form-control" required="">
              <span class="form-bar"></span>
              <label class="float-label">Add Task</label>
            </div>
          </form>
          <div class="form-icon ">
            <button type="button" class="btn btn-success btn-icon waves-effect waves-light">
              <i class="feather icon-message-circle"></i>
            </button>
          </div>
        </div>
      </app-card>

      <div class="card user-card2">
        <div class="card-block text-center">
          <h6 class="m-b-15">Project Risk</h6>
          <div class="risk-rate">
            <span><b>5</b></span>
          </div>
          <h6 class="m-b-10 m-t-10">Balanced</h6>
          <a href="javascript:" class="text-c-green b-b-success">Change Your Risk</a>
          <div class="row justify-content-center m-t-15 b-t-default m-l-0 m-r-0">
            <div class="col m-t-15 b-r-default">
              <h6 class="text-muted">Nr</h6>
              <h6>AWS 2455</h6>
            </div>
            <div class="col m-t-15">
              <h6 class="text-muted">Created</h6>
              <h6>30th Sep</h6>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-block p-t-15 p-b-15">Download Overall Report</button>
      </div>
    </div>
    <!-- project and updates end -->
  </div>
</div>
