<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <!-- Loader style card start -->
      <div class="card">
        <div class="card-header">
          <h5>Loader Style</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader Style 1</div>
              <p>Add class <code> preloader3</code></p>
              <div class="preloader3 loader-block">
                <div class="circ1"></div>
                <div class="circ2"></div>
                <div class="circ3"></div>
                <div class="circ4"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader Style 2(Using SVG)</div>
              <p>Add id <code> loader2</code></p>
              <div class="loader-block">
                <svg id="loader2" viewBox="0 0 100 100">
                  <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                </svg>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <h6 class="sub-title">Loader Style 3</h6>
              <p>Add class <code> preloader4</code></p>
              <div class="text-center loader-block">
                <div class="preloader4">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <h6 class="sub-title">Loader Style 4</h6>
              <p>Add class <code> cell preloader5 </code></p>
              <div class="cell preloader5 loader-block">
                <div class="circle-5 l"></div>
                <div class="circle-5 m"></div>
                <div class="circle-5 r"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <h6 class="sub-title">loader animation-start</h6>
              <p>Add class <code> cell preloader5 </code></p>
              <div class="loader animation-start">
                <span class="circle delay-1 size-2"></span>
                <span class="circle delay-2 size-4"></span>
                <span class="circle delay-3 size-6"></span>
                <span class="circle delay-4 size-7"></span>
                <span class="circle delay-5 size-7"></span>
                <span class="circle delay-6 size-6"></span>
                <span class="circle delay-7 size-4"></span>
                <span class="circle delay-8 size-2"></span>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <h6 class="sub-title">Loader Style 6</h6>
              <p>Add class <code> preloader6 </code></p>
              <div class="loader-block">
                <div class="preloader6">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Loader style card end -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- Loader color card start -->
      <div class="card">
        <div class="card-header">
          <h5>Loader color</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader default Style</div>
              <p>Add class <code> loader-default </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-default"></div>
                <div class="circ2 loader-default"></div>
                <div class="circ3 loader-default"></div>
                <div class="circ4 loader-default"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader primary Style</div>
              <p>Add class <code> loader-primary </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader success Style</div>
              <p>Add class <code> loader-success </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-success"></div>
                <div class="circ2 loader-success"></div>
                <div class="circ3 loader-success"></div>
                <div class="circ4 loader-success"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader info Style</div>
              <p>Add class <code> loader-info </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-info"></div>
                <div class="circ2 loader-info"></div>
                <div class="circ3 loader-info"></div>
                <div class="circ4 loader-info"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader warning Style</div>
              <p>Add class <code> loader-warning </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-warning"></div>
                <div class="circ2 loader-warning"></div>
                <div class="circ3 loader-warning"></div>
                <div class="circ4 loader-warning"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader danger Style</div>
              <p>Add class <code> loader-danger </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-danger"></div>
                <div class="circ2 loader-danger"></div>
                <div class="circ3 loader-danger"></div>
                <div class="circ4 loader-danger"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Loader color card end -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- Loader Size card start -->
      <div class="card">
        <div class="card-header">
          <h5>Loader Size</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader primary</div>
              <p>Add class <code> loader-primary </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader medium</div>
              <p>Add class <code> loader-md </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary loader-md"></div>
                <div class="circ2 loader-primary loader-md"></div>
                <div class="circ3 loader-primary loader-md"></div>
                <div class="circ4 loader-primary loader-md"></div>
              </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6">
              <div class="sub-title">Loader large</div>
              <p>Add class <code> loader-lg </code></p>
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary loader-lg"></div>
                <div class="circ2 loader-primary loader-lg"></div>
                <div class="circ3 loader-primary loader-lg"></div>
                <div class="circ4 loader-primary loader-lg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Loader Size card end -->
    </div>
  </div>
</div>
