@font-face {
  font-family: "iconfont"; /* Project id 3538338 */
  src: url('iconfont.woff2?t=1658393010708') format('woff2'),
       url('iconfont.woff?t=1658393010708') format('woff'),
       url('iconfont.ttf?t=1658393010708') format('truetype');
}

/*.iconfont {*/
[class^="iconfont"],[class*="iconfont"]{
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontkefu:before {
  content: "\e61c";
}

.icon-mima:before {
  content: "\e648";
}

.icon-renlishebao:before {
  content: "\e636";
}

.icon-bumen:before {
  content: "\e758";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-kaoqinguanli:before {
  content: "\e610";
}

.icon-shenfenzheng:before {
  content: "\e614";
}

.icon-weizhi:before {
  content: "\e64b";
}

.icon-24gf-phoneBubble:before {
  content: "\e966";
}

.icon-kaoqin:before {
  content: "\e643";
}

.icon-huiyi:before {
  content: "\e61b";
}

.icon-jiaban:before {
  content: "\e637";
}

.icon-biaoge:before {
  content: "\e665";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-duoxuankuang:before {
  content: "\e62e";
}

.icon-danxuan:before {
  content: "\e751";
}

.icon-chuzu:before {
  content: "\e600";
}

.icon-zhaopin:before {
  content: "\e647";
}

.icon-caiwu:before {
  content: "\e67d";
}

.icon-caigou:before {
  content: "\e887";
}

.icon-zhufangbutie:before {
  content: "\e68e";
}

.icon-wodechanpin:before {
  content: "\e679";
}

.icon-fapiaoguanli:before {
  content: "\e63b";
}

.icon-gongzi:before {
  content: "\e7e9";
}

.icon-zhufangbutiezhanghu:before {
  content: "\e60c";
}

.icon-weixiu:before {
  content: "\e613";
}

.icon-yuangonglizhi:before {
  content: "\e615";
}

.icon-zhaopinguanli:before {
  content: "\e616";
}

.icon-caiwu1:before {
  content: "\e603";
}

.icon-qingjiashenqing:before {
  content: "\e60d";
}

.icon-ziyuan207:before {
  content: "\e722";
}

.icon-yongcanjiucan:before {
  content: "\e67e";
}

.icon-map-site:before {
  content: "\ea00";
}

.icon-hetong:before {
  content: "\e68a";
}

.icon-buka:before {
  content: "\e6ca";
}

.icon-chucha:before {
  content: "\e6c7";
}

.icon-baoxiaoshenqing-feiyongbaoxiaoshenqing-02:before {
  content: "\e726";
}

.icon-a-11Cfenzuzuzhishu:before {
  content: "\e676";
}

