.full-width {
  width: 100%;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

.form-title {
  text-align: right;
  line-height: 38px;
}

.input-style {
  margin-bottom: 10px;
}

.stander-line-height {
  line-height: 50px;
}

.stander-icon {
  font-size: 1rem;
}

.tag-chips .ng2-tag-input {
  border: 1px solid #fff;
  border-bottom: 1px solid #aaa !important;
  line-height: 30px;
  border-radius: 2px;
  padding-left: 4px !important;
}
