<div class="row">
  <ng-container *ngFor="let field of eruptFieldModels">
    <ng-container *ngIf="field.eruptFieldJson.edit.show">
      <ng-container [ngSwitch]="field.eruptFieldJson.edit.type">
        <!--input-->
        <ng-container *ngSwitchCase="editType.INPUT">
          <ng-container [ngSwitch]="field.eruptFieldJson.edit.inputType[0].type">
            <ng-container *ngSwitchCase="'TEXT'">
              <div class="input-style" [class]="colClass">
                <mat-form-field class="full-width">
                  <mat-label>{{field.eruptFieldJson.edit.title}}</mat-label>
                  <ng-container *ngIf="field.fieldReturnName=='Integer'||field.fieldReturnName=='int'">
                    <input matInput [placeholder]="field.eruptFieldJson.edit.inputType[0].placeholder"
                           [value]="field.eruptFieldJson.edit.inputType[0].defaultVal"
                           [(ngModel)]="field.eruptFieldJson.edit.$value"
                           class="text-right"
                           autocomplete="false"
                           [readonly]="field.eruptFieldJson.edit.readOnly"
                           [required]="field.eruptFieldJson.edit.notNull"
                           type="number">
                  </ng-container>
                  <ng-container *ngIf="field.fieldReturnName!=='Integer'&&field.fieldReturnName!=='int'">
                    <input matInput [placeholder]="field.eruptFieldJson.edit.inputType[0].placeholder"
                           [value]="field.eruptFieldJson.edit.inputType[0].defaultVal"
                           [readonly]="field.eruptFieldJson.edit.readOnly"
                           [required]="field.eruptFieldJson.edit.notNull"
                           [(ngModel)]="field.eruptFieldJson.edit.$value">
                  </ng-container>
                </mat-form-field>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="'TAG'">
              <div class="col-12 input-style">
                {{field.eruptFieldJson.edit.title}}
                <tag-input class="tag-chips m-t-5" [theme]="field.eruptFieldJson.edit.inputType[0].color"
                           [maxItems]="10"
                           [placeholder]="field.eruptFieldJson.edit.inputType[0].placeholder"
                           [secondaryPlaceholder]="'添加标签'"
                           [modelAsStrings]="true"
                           [separatorKeyCodes]="[32, 188]"
                           [(ngModel)]="field.eruptFieldJson.edit.$value"
                ></tag-input>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'TEXTAREA'">
              <div class="col-12 input-style">
                <mat-form-field class="full-width">
                  <mat-label>{{field.eruptFieldJson.edit.title}}</mat-label>
                  <textarea matInput cdkTextareaAutosize [value]="field.eruptFieldJson.edit.$value||''"
                            [required]="field.eruptFieldJson.edit.notNull"
                            [readonly]="field.eruptFieldJson.edit.readOnly">

                  </textarea>
                </mat-form-field>

                <mat-slider class="full-width"></mat-slider>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <!--choice-->
        <ng-container *ngSwitchCase="editType.CHOICE">
          <div class="input-style" [class]="colClass">
            <ng-container *ngIf="field.eruptFieldJson.edit.choiceType[0].type==choiceEnum.SINGLE">
              <div class="stander-line-height">
                {{field.eruptFieldJson.edit.title}}
                <mat-radio-group [(ngModel)]="field.eruptFieldJson.edit.$value"
                                 [required]="field.eruptFieldJson.edit.notNull">：&nbsp;
                  <mat-radio-button *ngFor="let vl of field.eruptFieldJson.edit.choiceType[0].vl"
                                    [value]="vl.value"
                                    class="m-r-10" [disabled]="field.eruptFieldJson.edit.readOnly">
                    {{vl.label}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </ng-container>
            <ng-container *ngIf="field.eruptFieldJson.edit.choiceType[0].type==choiceEnum.SELECT_SINGLE">
              <mat-form-field class="full-width">
                <mat-label>{{field.eruptFieldJson.edit.title}}</mat-label>
                <mat-icon matSuffix (click)="clearValue(field,$event)"><i class="fa fa-close stander-icon"></i>
                </mat-icon>
                <mat-select [required]="field.eruptFieldJson.edit.notNull"
                            [value]="field.eruptFieldJson.edit.$value"
                            (selectionChange)="field.eruptFieldJson.edit.$value=$event.value"
                >
                  <mat-option *ngFor="let vl of field.eruptFieldJson.edit.choiceType[0].vl" [value]="vl.value"

                              [disabled]="field.eruptFieldJson.edit.readOnly">
                    {{vl.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="field.eruptFieldJson.edit.choiceType[0].type==choiceEnum.SELECT_MULTI">
              <mat-form-field class="full-width">
                <mat-label>{{field.eruptFieldJson.edit.title}}</mat-label>
                <mat-icon matSuffix (click)="clearValue(field,$event)"><i class="fa fa-close stander-icon"></i>
                </mat-icon>
                <mat-select multiple [required]="field.eruptFieldJson.edit.notNull">
                  <mat-option *ngFor="let vl of field.eruptFieldJson.edit.choiceType[0].vl" [value]="vl.value"
                              [disabled]="field.eruptFieldJson.edit.readOnly">
                    {{vl.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>
        </ng-container>
        <!--date-->
        <ng-container *ngSwitchCase="editType.DATE">
          <div class="input-style" [class]="colClass">
            <mat-form-field class="full-width">
              <mat-label>{{field.eruptFieldJson.edit.title}}</mat-label>
              <input matInput [matDatepicker]="dp" readonly="readonly" (click)="dp.open()"
                     [value]="field.eruptFieldJson.edit.$value"
                     (dateChange)="dateChange($event,field);"
                     [required]="field.eruptFieldJson.edit.notNull">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-icon matSuffix><i class="fa fa-close stander-icon" (click)="clearValue(field)"></i></mat-icon>
              <mat-datepicker #dp touchUi startView="year"
                              [disabled]="field.eruptFieldJson.edit.readOnly"></mat-datepicker>
            </mat-form-field>
            <!--<ng-container *ngIf="!field.eruptFieldJson.edit.dateType[0].isRange">-->
            <!--<input type="text"-->
            <!--placeholder="选择时间"-->
            <!--class="form-control"-->
            <!--readonly="readonly"-->
            <!--bsDatepicker>-->
            <!--</ng-container>-->
            <!--<ng-container *ngIf="field.eruptFieldJson.edit.dateType[0].isRange">-->
            <!--<input type="text"-->
            <!--placeholder="选择时间"-->
            <!--class="form-control"-->
            <!--readonly="readonly"-->
            <!--bsDaterangepicker>-->
            <!--</ng-container>-->
          </div>
        </ng-container>
        <!--reference-->
        <ng-container *ngSwitchCase="editType.REFERENCE">
          <div class="input-style" [class]="colClass">
            <mat-form-field class="full-width">
              <mat-label>{{field.eruptFieldJson.edit.title}}</mat-label>
              <input matInput
                     (click)="openModal(referenceModel);queryReference(field);"
                     [readonly]="true"
                     [required]="field.eruptFieldJson.edit.notNull"
                     [ngModel]="field.eruptFieldJson.edit.$viewValue">
              <mat-icon matSuffix (click)="clearValue(field,$event)"><i class="fa fa-close stander-icon"></i></mat-icon>
            </mat-form-field>
          </div>

          <ng-template #referenceModel>
            <div class="modal-header">
              <h4 class="modal-title pull-left">请选择{{field.eruptFieldJson.edit.title}}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true" class="f-26">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow: auto">
              <ng-container *ngIf="referenceLists.length>0">
                <mat-radio-group [(ngModel)]="field.eruptFieldJson.edit.referenceType[0].tempVal">
                  <div class="row">
                    <ng-container *ngFor="let reference of referenceLists">
                      <div class="col-sm-6 col-md-4 col-lg-4">
                        <mat-radio-button [value]="{id:reference.id,label:reference.label}">{{reference.label}}
                        </mat-radio-button>
                      </div>
                    </ng-container>
                  </div>
                </mat-radio-group>
              </ng-container>
              <ng-container *ngIf="!referenceLists">
                <div class="col-12">
                  <div class="preloader3 loader-block">
                    <div class="circ1 loader-info"></div>
                    <div class="circ2 loader-info"></div>
                    <div class="circ3 loader-info"></div>
                    <div class="circ4 loader-info"></div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="modal-footer">
              <button mat-raised-button class="outline-none" color="accent"
                      (click)="checkRefValue(field.eruptFieldJson.edit)">确定
              </button>&nbsp;&nbsp;
              <button mat-raised-button class="outline-none" (click)="modalRef.hide()">取消（esc）</button>
            </div>
          </ng-template>


        </ng-container>
        <!--bool-->
        <ng-container *ngSwitchCase="editType.BOOLEAN">
          <div class="input-style" [class]="colClass">
            <div class="stander-line-height">
              {{field.eruptFieldJson.edit.title}}：
              <ui-switch [checkedLabel]="field.eruptFieldJson.edit.boolType[0].trueText"
                         [disabled]="field.eruptFieldJson.edit.readOnly"
                         [uncheckedLabel]="field.eruptFieldJson.edit.boolType[0].falseText"></ui-switch>
            </div>
          </div>
        </ng-container>
        <!--dict-->
        <ng-container *ngSwitchCase="editType.DICT">
          <div class="input-style" [class]="colClass">
            DICT
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
