<ng-container *ngIf="edit.show">
  <ng-container [ngSwitch]="edit.type">
    <!--input-->
    <ng-container *ngSwitchCase="editType[1]">
      {{edit.title}}
      <ng-container [ngSwitch]="edit.inputType[0].type">
        <ng-container *ngSwitchCase="'TEXT'">
          <input type="text"
                 class="form-control form-control-sm form-control-{{edit.inputType[0].color}}"
                 [placeholder]="edit.inputType[0].placeholder"
                 [value]="edit.inputType[0].defaultVal"
                 [(ngModel)]="edit.$value"
          >
        </ng-container>
        <ng-container *ngSwitchCase="'TAG'">
          <tag-input class="tag-chips" [theme]="edit.inputType[0].color"
                     [maxItems]="10"
                     [placeholder]="edit.inputType[0].placeholder"
                     [secondaryPlaceholder]="'添加标签'"
                     [modelAsStrings]="true"
                     [separatorKeyCodes]="[32, 188]"
                     [(ngModel)]="edit.$value"
          ></tag-input>
        </ng-container>
        <ng-container *ngSwitchCase="'COLOR'">
          <input class="form-control" [(colorPicker)]="edit.$value" [style.background]="edit.$value" [value]="edit.$value||'#fff'" [cpPosition]="'bottom'"/>
        </ng-container>
      </ng-container>
    </ng-container>
    <!--choice-->
    <ng-container *ngSwitchCase="editType[2]">
      <!---->
      {{edit.$value}}
      <ng-container *ngIf="edit.choiceType[0].type=='MULTI'">
        <div class="border-checkbox-section">
          <ng-container *ngFor="let vl of edit.choiceType[0].vl">
            <div class="border-checkbox-group border-checkbox-group-{{edit.choiceType[0].color}}">
              <input class="border-checkbox" type="checkbox" [name]="edit.title" [id]="vl.value" [value]="vl.value" [(ngModel)]="edit.$value">
              <label class="border-checkbox-label" [for]="vl.value">{{vl.label}}</label>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="edit.choiceType[0].type=='SINGLE'">
        <div class="form-radio">
          <form>
            <div class="radio radiofill radio-{{edit.choiceType[0].color}} radio-inline" *ngFor="let vl of edit.choiceType[0].vl; let i = index">
              <label>
                <input type="radio" [name]="edit.title" [id]="vl.value" [value]="vl.value" (change)="checkBoxChange($event,vl.value)">
                <i class="helper"></i>{{vl.label}}
              </label>
            </div>
          </form>
        </div>
      </ng-container>
      <ng-container *ngIf="edit.choiceType[0].type=='SELECT'">
        <mat-form-field>
          <mat-select>
            <mat-option *ngFor="let vl of edit.choiceType[0].vl" [value]="vl.value">
              {{vl.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </ng-container>
    <!--date-->
    <ng-container *ngSwitchCase="editType[3]">
      date
    </ng-container>
    <!--reference-->
    <ng-container *ngSwitchCase="editType[4]">
      REFERENCE
    </ng-container>
    <!--bool-->
    <ng-container *ngSwitchCase="editType[5]">
      <mat-slide-toggle aria-label="'bac'" aria-labelledby="'214123'">Slide me!</mat-slide-toggle>
    </ng-container>
    <!--dict-->
    <ng-container *ngSwitchCase="editType[6]">
      DICT
    </ng-container>
  </ng-container>
</ng-container>
